@charset "UTF-8";
.section-people .content-type-person .dash-header::after {
  position: absolute;
  height: 2px;
  width: 20px;
  content: '';
  display: block;
  z-index: 2; }

.section-people .content-type-person .dash-header::after {
  position: absolute;
  height: 2px;
  width: 20px;
  content: '';
  display: block;
  z-index: 2; }

.content-type__header {
  color: #4d4f53;
  position: relative; }
  .content-type__header .page-title {
    margin-top: 10px; }
  .content-type__header .social-actions {
    position: relative;
    padding: 10px;
    margin-top: 10px; }
    .content-type__header .social-actions::after {
      left: 0;
      transform: none; }

.content-type__media-container::after {
  clear: both;
  content: "";
  display: block; }

@media only screen and (min-width: 1024px) {
  .content-type__media-container {
    margin-right: 100px;
    margin-left: 100px; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.left-align-media .content-type__media, .content-type__media-container.right-align-media .content-type__media {
    margin-top: 40px;
    width: 50%; } }

@media only screen and (min-width: 1500px) {
  .content-type__media-container.left-align-media .content-type__media, .content-type__media-container.right-align-media .content-type__media {
    margin-top: -20px; } }

.content-type__media-container.left-align-media .content-type__media img, .content-type__media-container.right-align-media .content-type__media img {
  display: block;
  margin: 0 auto; }
  @media only screen and (min-width: 1024px) {
    .content-type__media-container.left-align-media .content-type__media img, .content-type__media-container.right-align-media .content-type__media img {
      margin: 0; } }

.content-type__media-container.left-align-media .content-type__header, .content-type__media-container.right-align-media .content-type__header {
  margin-top: 40px;
  padding-bottom: 40px; }
  @media only screen and (min-width: 1024px) {
    .content-type__media-container.left-align-media .content-type__header, .content-type__media-container.right-align-media .content-type__header {
      width: 50%; } }
  @media only screen and (min-width: 1024px) {
    .content-type__media-container.left-align-media .content-type__header::after, .content-type__media-container.right-align-media .content-type__header::after {
      content: '';
      background-color: #F9F6EF;
      position: absolute;
      top: 40px;
      bottom: 40px;
      width: 100vw;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      z-index: -1;
      top: 0;
      bottom: 5%;
      width: 150vw; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.left-align-media .breadcrumbs-container, .content-type__media-container.right-align-media .breadcrumbs-container {
    width: 50%; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.left-align-media .content-type__media {
    float: left; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.left-align-media .content-type__media figure,
  .content-type__media-container.left-align-media .content-type__media picture {
    margin-right: 40px; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.left-align-media .content-type__header {
    float: left; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.left-align-media .breadcrumbs-container {
    float: right; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.right-align-media .content-type__media {
    float: right; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.right-align-media .content-type__media figure,
  .content-type__media-container.right-align-media .content-type__media picture {
    margin-left: 40px; } }

.content-type__media-container.right-align-media .content-type__media figure::after,
.content-type__media-container.right-align-media .content-type__media picture::after {
  margin-left: -100vw;
  width: 150vw; }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.right-align-media .content-type__header {
    margin-top: 40px;
    padding-top: 40px; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.right-align-media .breadcrumbs-container {
    float: left; } }

.content-type-date {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 50px; }
  .content-type-date time {
    padding-left: 5px; }

.photo-credit {
  text-align: center;
  margin: 10px 0 0 0; }
  @media only screen and (min-width: 1024px) {
    .photo-credit {
      text-align: left;
      margin: -15px 0 10px 0; } }
  .photo-credit p {
    margin-bottom: 10px; }

.content-type-date__actions {
  padding-top: 5px; }

.content-type__media-header::after {
  clear: both;
  content: "";
  display: block; }

.section-people .main-container {
  margin-top: 20px; }
  @media only screen and (max-width: 575px) {
    .section-people .main-container {
      padding: 1em calc(((50% /12) * 0) + 15px); }
      .section-people .main-container::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-people .main-container {
      padding: 1em calc(((50% /12) * 0) + 15px); }
      .section-people .main-container::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .section-people .main-container {
      padding: 1em calc(((50% /12) * 0) + 30px); }
      .section-people .main-container::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1024px) and (max-width: 1499px) {
    .section-people .main-container {
      padding: 1em calc(((50% /12) * 0) + 30px); }
      .section-people .main-container::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1500px) {
    .section-people .main-container {
      padding: 1em calc(50% - (750px - 60px)); }
      .section-people .main-container::after {
        clear: both;
        content: "";
        display: block; } }
  @media only print {
    .section-people .main-container {
      padding: 1em calc(((50% /12) * 0) + 0.25in); }
      .section-people .main-container::after {
        clear: both;
        content: "";
        display: block; } }

.section-people .block--page-title {
  padding-right: 0;
  padding-left: 0; }

.section-people .page-title {
  padding: 0; }
  .section-people .page-title h1 {
    font-size: 42px; }

.section-people .page-subtitle {
  font-size: 22px;
  margin-bottom: 15px; }
  .section-people .page-subtitle span {
    display: block; }

.section-people figcaption {
  caption-side: bottom;
  color: #9c9d9e;
  display: table-caption;
  text-align: right; }

.section-people .block-matson-content {
  color: #4d4f53; }
  .section-people .block-matson-content a {
    text-decoration: underline; }

@media only screen and (min-width: 1024px) {
  .section-people .breadcrumbs-container {
    margin-right: 100px;
    margin-left: 100px; } }

.section-people .content-type-person {
  margin-left: -15px;
  margin-right: -15px;
  width: calc(100% + 30px); }
  .section-people .content-type-person::after {
    clear: both;
    content: "";
    display: block; }
  @media only screen and (min-width: 1024px) {
    .section-people .content-type-person {
      padding-right: 100px;
      padding-left: 70px; } }
  .section-people .content-type-person_profile a {
    text-decoration: underline; }
  .section-people .content-type-person__profilelink a {
    font-size: 20px; }
  .section-people .content-type-person_bio {
    border: 1px solid #dad7cb;
    clear: both;
    margin-bottom: 15px;
    padding: 40px; }
    .section-people .content-type-person_bio p {
      font-size: 18px; }
      @media only screen and (min-width: 768px) {
        .section-people .content-type-person_bio p {
          font-size: 22px; } }
  .section-people .content-type-person a {
    text-decoration: none; }
  .section-people .content-type-person .earth-people__subtitle {
    margin-bottom: 10px; }
    .section-people .content-type-person .earth-people__subtitle:before {
      content: "•";
      margin-right: 20px; }
  .section-people .content-type-person .content-type__media {
    margin-bottom: 15px; }
    @media only screen and (max-width: 1023px) {
      .section-people .content-type-person .content-type__media {
        margin: 0 20px;
        width: calc(100% - 40px); } }
    @media only screen and (min-width: 1024px) {
      .section-people .content-type-person .content-type__media {
        width: calc(45.4545454545% - 43.6363636364px);
        float: left;
        margin-left: 30px; } }
  @media only screen and (max-width: 1023px) {
    .section-people .content-type-person .content-type__header {
      margin: 0 20px;
      width: calc(100% - 40px); } }
  @media only screen and (min-width: 1024px) {
    .section-people .content-type-person .content-type__header {
      width: calc(54.5454545455% - 46.3636363636px);
      float: left;
      margin-left: 30px; } }
  .section-people .content-type-person .content-type__header .definition-list {
    font-size: 22px;
    margin-bottom: 30px; }
    .section-people .content-type-person .content-type__header .definition-list dt {
      width: 90px; }
  .section-people .content-type-person .dash-header {
    margin-bottom: 1.25em;
    font-size: 12px;
    text-transform: uppercase;
    position: relative; }
    .section-people .content-type-person .dash-header::after {
      background-color: #8c1515;
      bottom: -.5em;
      left: 50%;
      transform: translateX(-50%); }
    .section-people .content-type-person .dash-header::after {
      bottom: -1em;
      left: 0;
      transform: none; }
  .section-people .content-type-person .definition-list {
    line-height: 1.25; }
    .section-people .content-type-person .definition-list a {
      display: block; }

.section-people .user-info-block {
  background-color: #F9F6EF;
  padding: 40px; }

.section-people .earth-people-links.block-1 {
  margin-top: 0;
  padding-top: 0; }

.section-people .earthuser h3 {
  font-size: 1.4em; }
  .section-people .earthuser h3 .media-mentions {
    padding: 20px 0;
    width: 100%; }
  .section-people .earthuser h3 .mmlist {
    margin-bottom: 20px;
    width: 100%; }

/*# sourceMappingURL=stanford-person.css.map */