.field-p-wysiwyg h2::after {
  position: absolute;
  height: 2px;
  width: 20px;
  content: '';
  display: block;
  z-index: 2; }

.field-p-wysiwyg h2::after {
  position: absolute;
  height: 2px;
  width: 20px;
  content: '';
  display: block;
  z-index: 2; }

.content-type__header {
  color: #4d4f53;
  position: relative; }
  .content-type__header .page-title {
    margin-top: 10px; }
  .content-type__header .social-actions {
    position: relative;
    border-bottom: 0.5px solid #9c9d9e;
    border-top: 0.5px solid #9c9d9e;
    padding: 10px;
    margin-top: 10px; }
    .content-type__header .social-actions::after {
      left: 0;
      transform: none; }

.content-type__media-container::after {
  clear: both;
  content: "";
  display: block; }

@media only screen and (min-width: 1024px) {
  .content-type__media-container {
    margin-right: 100px;
    margin-left: 100px; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.left-align-media .content-type__media, .content-type__media-container.right-align-media .content-type__media {
    margin-top: 40px;
    width: 50%; } }

@media only screen and (min-width: 1500px) {
  .content-type__media-container.left-align-media .content-type__media, .content-type__media-container.right-align-media .content-type__media {
    margin-top: -20px; } }

.content-type__media-container.left-align-media .content-type__media img, .content-type__media-container.right-align-media .content-type__media img {
  display: block;
  margin: 0 auto; }
  @media only screen and (min-width: 1024px) {
    .content-type__media-container.left-align-media .content-type__media img, .content-type__media-container.right-align-media .content-type__media img {
      margin: 0; } }

.content-type__media-container.left-align-media .content-type__header, .content-type__media-container.right-align-media .content-type__header {
  margin-top: 40px;
  padding-bottom: 40px; }
  @media only screen and (min-width: 1024px) {
    .content-type__media-container.left-align-media .content-type__header, .content-type__media-container.right-align-media .content-type__header {
      width: 50%; } }
  @media only screen and (min-width: 1024px) {
    .content-type__media-container.left-align-media .content-type__header::after, .content-type__media-container.right-align-media .content-type__header::after {
      content: '';
      background-color: #F9F6EF;
      position: absolute;
      top: 40px;
      bottom: 40px;
      width: 100vw;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      z-index: -1;
      top: 0;
      bottom: 5%;
      width: 150vw; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.left-align-media .breadcrumbs-container, .content-type__media-container.right-align-media .breadcrumbs-container {
    width: 50%; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.left-align-media .content-type__media {
    float: left; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.left-align-media .content-type__media figure,
  .content-type__media-container.left-align-media .content-type__media picture {
    margin-right: 40px; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.left-align-media .content-type__header {
    float: left; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.left-align-media .breadcrumbs-container {
    float: right; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.right-align-media .content-type__media {
    float: right; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.right-align-media .content-type__media figure,
  .content-type__media-container.right-align-media .content-type__media picture {
    margin-left: 40px; } }

.content-type__media-container.right-align-media .content-type__media figure::after,
.content-type__media-container.right-align-media .content-type__media picture::after {
  margin-left: -100vw;
  width: 150vw; }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.right-align-media .content-type__header {
    margin-top: 40px;
    padding-top: 40px; } }

@media only screen and (min-width: 1024px) {
  .content-type__media-container.right-align-media .breadcrumbs-container {
    float: left; } }

.content-type-date {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 50px; }
  .content-type-date time {
    padding-left: 5px; }

.photo-credit {
  text-align: center;
  margin: 10px 0 0 0; }
  @media only screen and (min-width: 1024px) {
    .photo-credit {
      text-align: left;
      margin: -15px 0 10px 0; } }
  .photo-credit p {
    margin-bottom: 10px; }

.content-type-date__actions {
  padding-top: 5px; }

.content-type__media-header::after {
  clear: both;
  content: "";
  display: block; }

.field-s-news-top-media #hero-banner:not(.component-centered-container-margins) {
  margin-top: -170px; }
  @media only screen and (min-width: 860px) {
    .field-s-news-top-media #hero-banner:not(.component-centered-container-margins) {
      margin-top: -176px; } }
  .field-s-news-top-media #hero-banner:not(.component-centered-container-margins) .hero-banner__container {
    border: 0; }

.node--type-stanford_news {
  color: #4d4f53; }

.field-s-news-top-media {
  color: #4d4f53;
  margin-top: 50px; }

h1 {
  font-size: 42px;
  color: #4d4f53; }

.field-s-news-author {
  text-transform: uppercase; }
  @media only screen and (min-width: 1024px) {
    .field-s-news-author {
      padding-left: 110px; } }

.block--field-s-news-date {
  position: relative;
  border-bottom: 0.5px solid #4d4f53;
  border-top: 0.5px solid #4d4f53;
  padding: 10px;
  margin-top: 10px; }
  @media only screen and (min-width: 1024px) {
    .block--field-s-news-date {
      margin-left: 110px; } }
  .block--field-s-news-date::after {
    left: 0;
    transform: none; }
  .block--field-s-news-date .field--field-s-news-date {
    display: inline-block; }
    .block--field-s-news-date .field--field-s-news-date svg {
      margin-right: .5rem;
      height: 1.6em;
      color: #017c92; }
  .block--field-s-news-date .field--field-s-news-date__actions {
    display: inline-block;
    padding-right: 5px;
    border-left: 1px solid #dad7cb;
    margin-left: .75rem;
    padding-left: .25rem; }
  .block--field-s-news-date .field--field-s-news-date__action {
    display: inline-block;
    padding: 0 5px;
    color: #4d4f53; }
  .block--field-s-news-date svg {
    height: 1.6em;
    vertical-align: middle;
    display: inline;
    margin-top: -3px;
    color: #017c92; }
    .block--field-s-news-date svg:hover {
      opacity: .8; }

.field-earth-matters-topic {
  text-transform: uppercase; }
  @media only screen and (min-width: 1024px) {
    .field-earth-matters-topic {
      padding-left: 110px; } }
  .field-earth-matters-topic .field-label {
    color: #017c92;
    text-decoration: underline;
    display: inline-block;
    margin-right: 1rem; }
    .field-earth-matters-topic .field-label::after {
      content: ": "; }
  .field-earth-matters-topic .field--field-earth-matters-topic {
    display: inline-block;
    margin-right: 5px; }
    .field-earth-matters-topic .field--field-earth-matters-topic a {
      text-decoration: underline;
      display: inline-block;
      white-space: nowrap;
      margin-bottom: .5rem;
      font-weight: normal; }
      @media only screen and (min-width: 768px) {
        .field-earth-matters-topic .field--field-earth-matters-topic a {
          margin-bottom: 0; } }

.field--field-s-news-category {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px 0 0; }

.field-s-news-summary {
  color: #4d4f53;
  font-size: 20px;
  padding-top: 20px; }
  @media only screen and (min-width: 576px) {
    .field-s-news-summary {
      padding: 40px 80px 20px; } }
  @media only screen and (min-width: 1024px) {
    .field-s-news-summary {
      padding-right: 110px;
      padding-left: 110px; } }
  .field-s-news-summary > :last-child {
    margin-bottom: 0; }

.section-news .field--body {
  padding-bottom: 0px; }

@media only screen and (min-width: 576px) {
  .layout--basic .field-p-wysiwyg {
    padding: 0 80px 20px; } }

@media only screen and (min-width: 1024px) {
  .layout--basic .field-p-wysiwyg {
    padding-right: 110px;
    padding-left: 110px; } }

.video-embed-field-responsive-video {
  position: initial; }

@media only screen and (min-width: 576px) {
  .field-p-responsive-image,
  .field-p-responsive-image-cred,
  .field-p-video-url {
    padding: 0 60px 20px; } }

@media only screen and (min-width: 1024px) {
  .field-p-responsive-image,
  .field-p-responsive-image-cred,
  .field-p-video-url {
    padding-right: 60px;
    padding-left: 60px; } }

.field--responsive-image picture,
.field--responsive-video,
figure.align-center .figure-container {
  position: relative;
  margin-bottom: 20px;
  display: block; }
  .field--responsive-image picture::after,
  .field--responsive-video::after,
  figure.align-center .figure-container::after {
    content: '';
    background-color: #F9F6EF;
    position: absolute;
    top: 40px;
    bottom: 40px;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -1; }
  .field--responsive-image picture img,
  .field--responsive-video img,
  figure.align-center .figure-container img {
    width: 100%;
    max-width: none;
    margin-bottom: 0;
    display: block; }

.field-p-wysiwyg h2 {
  position: relative;
  padding-left: .9em;
  margin-bottom: 20px; }
  .field-p-wysiwyg h2::after {
    position: absolute;
    top: 50%;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #8c1515;
    left: 0; }

.field-p-wysiwyg a {
  text-decoration: underline; }

.field-p-responsive-image-cred {
  color: #4d4f53;
  text-align: left; }

.simple-columns {
  color: #4d4f53; }

.highlight-card {
  color: #4d4f53; }
  .highlight-card h4 {
    font-size: 26px; }
  .highlight-card h5 {
    text-transform: uppercase; }
  .highlight-card p {
    color: #4d4f53; }
  .highlight-card h5,
  .highlight-card p {
    font-size: 13px; }

.editorial-sidebar.simple-slat.is-narrow {
  margin: 0; }
  .editorial-sidebar.simple-slat.is-narrow .simple-block {
    background-color: #dad7cb;
    padding: 30px; }
    .editorial-sidebar.simple-slat.is-narrow .simple-block::after {
      clear: both;
      content: "";
      display: block; }
    @media only screen and (min-width: 576px) {
      .editorial-sidebar.simple-slat.is-narrow .simple-block {
        margin: 0 20px 20px;
        padding-left: 0; } }
    @media only screen and (min-width: 1024px) {
      .editorial-sidebar.simple-slat.is-narrow .simple-block {
        margin-right: 110px;
        margin-left: 110px; } }
  .editorial-sidebar.simple-slat.is-narrow .simple-block__image {
    margin-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .editorial-sidebar.simple-slat.is-narrow .simple-block__image {
        margin-bottom: 0; } }
  .editorial-sidebar.simple-slat.is-narrow .simple-block__title {
    font-size: 32px; }
  .editorial-sidebar.simple-slat.is-narrow .simple-block__image-caption {
    color: #9c9d9e; }
  .editorial-sidebar.simple-slat.is-narrow .simple-block__description {
    font-size: 20px;
    color: #4d4f53; }

.field-s-news-source {
  position: relative; }
  @media only screen and (min-width: 1024px) {
    .field-s-news-source {
      margin-left: 110px; } }

.field-s-news-rich-content .field-p-wysiwyg:nth-of-type(1) > p:first-of-type::first-line {
  position: relative;
  font-size: 1em;
  letter-spacing: normal; }

.field-s-news-rich-content .field-p-wysiwyg:nth-of-type(1) > p:first-child::first-letter {
  letter-spacing: 0;
  font-size: 3em;
  font-weight: bold;
  float: left;
  margin: 0.13em 0.2em 0 0;
  line-height: 0.7; }

/*# sourceMappingURL=stanford-news.css.map */