.block--field-s-news-category {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.block--field-s-news-date::after, .field-p-wysiwyg h2::after {
  position: absolute;
  height: 2px;
  width: 20px;
  content: '';
  display: block;
  z-index: 2; }

.node-field-s-news-top-media #hero-banner {
  margin-top: -170px; }
  @media only screen and (min-width: 860px) {
    .node-field-s-news-top-media #hero-banner {
      margin-top: -176px; } }
  .node-field-s-news-top-media #hero-banner .hero-banner__container {
    border: 0; }

.node--type-stanford_news {
  color: #4d4f53; }

.field-s-news-top-media {
  color: #9c9d9e;
  margin-top: 50px; }

h1 {
  font-size: 42px; }

.block--field-s-news-sub-title {
  margin-bottom: 20px; }
  @media only screen and (min-width: 576px) {
    .block--field-s-news-sub-title {
      max-width: 75%; } }
  .block--field-s-news-sub-title h2 {
    font-size: 28px; }

.block--field-s-news-author {
  text-transform: uppercase; }
  @media only screen and (min-width: 1024px) {
    .block--field-s-news-author {
      padding-left: 110px; } }

.block--field-s-news-date {
  margin-bottom: 1.25em;
  position: relative; }
  .block--field-s-news-date::after {
    background-color: #8c1515;
    bottom: -.5em;
    left: 50%;
    transform: translateX(-50%); }
  @media only screen and (min-width: 1024px) {
    .block--field-s-news-date {
      margin-left: 110px; } }
  .block--field-s-news-date::after {
    left: 0;
    transform: none; }
  .block--field-s-news-date .field--field-s-news-date {
    display: inline-block; }
    .block--field-s-news-date .field--field-s-news-date svg {
      margin-right: .5rem; }
  .block--field-s-news-date .field--field-s-news-date__actions {
    display: inline-block;
    padding-right: 5px;
    border-left: 1px solid #dad7cb;
    margin-left: .75rem;
    padding-left: .25rem; }
  .block--field-s-news-date .field--field-s-news-date__action {
    display: inline-block;
    padding: 0 5px;
    color: #4d4f53; }
  .block--field-s-news-date svg {
    height: 13px;
    vertical-align: middle;
    display: inline;
    margin-top: -3px; }

@media only screen and (min-width: 1024px) {
  .block--field-earth-matters-topic {
    padding-left: 110px; } }

.block--field-earth-matters-topic .field-label {
  color: #017c92;
  text-decoration: underline;
  display: inline-block;
  margin-right: 1rem; }
  .block--field-earth-matters-topic .field-label::after {
    content: ": "; }

.block--field-earth-matters-topic .field--field-earth-matters-topic {
  display: inline-block;
  margin-right: 5px; }
  .block--field-earth-matters-topic .field--field-earth-matters-topic a {
    text-decoration: underline;
    display: inline-block;
    white-space: nowrap;
    margin-bottom: .5rem;
    font-weight: normal; }
    @media only screen and (min-width: 768px) {
      .block--field-earth-matters-topic .field--field-earth-matters-topic a {
        margin-bottom: 0; } }

.block--field-s-news-category .field--field-s-news-category {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px 0 0; }

.field--body {
  font-size: 20px;
  padding-top: 20px; }
  @media only screen and (min-width: 576px) {
    .field--body {
      padding: 40px 80px 20px; } }
  @media only screen and (min-width: 1024px) {
    .field--body {
      padding-right: 110px;
      padding-left: 110px; } }
  .field--body > :last-child {
    margin-bottom: 0; }
  .field--body > p:first-of-type::first-line {
    position: relative;
    font-size: 1em;
    letter-spacing: normal; }
  .field--body > p:first-child::first-letter {
    letter-spacing: 0;
    font-size: 3em;
    font-weight: bold;
    float: left;
    margin: 0.13em 0.2em 0 0;
    line-height: 0.7; }

@media only screen and (min-width: 576px) {
  .layout--basic .field-p-wysiwyg {
    padding: 0 80px 20px; } }

@media only screen and (min-width: 1024px) {
  .layout--basic .field-p-wysiwyg {
    padding-right: 110px;
    padding-left: 110px; } }

.video-embed-field-responsive-video {
  position: initial; }

@media only screen and (min-width: 576px) {
  .field-p-responsive-image,
  .field-p-responsive-image-cred,
  .field-p-video-url {
    padding: 0 60px 20px; } }

@media only screen and (min-width: 1024px) {
  .field-p-responsive-image,
  .field-p-responsive-image-cred,
  .field-p-video-url {
    padding-right: 60px;
    padding-left: 60px; } }

.field--responsive-image picture,
.field--responsive-video,
figure.align-center .figure-container {
  position: relative;
  margin-bottom: 20px;
  display: block; }
  .field--responsive-image picture::after,
  .field--responsive-video::after,
  figure.align-center .figure-container::after {
    content: '';
    background-color: #FBFBFB;
    position: absolute;
    top: 40px;
    bottom: 40px;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -1; }
  .field--responsive-image picture img,
  .field--responsive-video img,
  figure.align-center .figure-container img {
    width: 100%;
    max-width: none;
    margin-bottom: 0;
    display: block; }

.field-p-wysiwyg h2 {
  position: relative;
  padding-left: .9em;
  margin-bottom: 20px; }
  .field-p-wysiwyg h2::after {
    position: absolute;
    top: 50%;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #8c1515;
    left: 0; }

.field-p-wysiwyg a {
  text-decoration: underline; }

.field-p-responsive-image-cred {
  color: #9c9d9e;
  text-align: right; }

.simple-columns {
  color: #4d4f53; }

.highlight-card {
  color: #4d4f53; }
  .highlight-card h4 {
    font-size: 26px; }
  .highlight-card h5 {
    text-transform: uppercase; }
  .highlight-card p {
    color: #9c9d9e; }
  .highlight-card h5,
  .highlight-card p {
    font-size: 13px; }

.editorial-sidebar.simple-slat.is-narrow {
  margin: 0; }
  .editorial-sidebar.simple-slat.is-narrow .simple-block {
    background-color: #FBFBFB;
    padding: 30px; }
    .editorial-sidebar.simple-slat.is-narrow .simple-block::after {
      clear: both;
      content: "";
      display: block; }
    @media only screen and (min-width: 576px) {
      .editorial-sidebar.simple-slat.is-narrow .simple-block {
        margin: 0 20px 20px;
        padding-left: 0; } }
    @media only screen and (min-width: 1024px) {
      .editorial-sidebar.simple-slat.is-narrow .simple-block {
        margin-right: 110px;
        margin-left: 110px; } }
  .editorial-sidebar.simple-slat.is-narrow .simple-block__image {
    margin-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .editorial-sidebar.simple-slat.is-narrow .simple-block__image {
        margin-bottom: 0; } }
  .editorial-sidebar.simple-slat.is-narrow .simple-block__title {
    font-size: 32px; }
  .editorial-sidebar.simple-slat.is-narrow .simple-block__image-caption {
    color: #9c9d9e; }
  .editorial-sidebar.simple-slat.is-narrow .simple-block__description {
    font-size: 20px;
    color: #4d4f53; }

/*# sourceMappingURL=stanford-news.css.map */