.color-brand {
  color: #8c1515; }

.color-action {
  color: #017c92; }

.color-action-active {
  color: #016779; }

.color-background {
  color: #fff; }

.color-background-secondary {
  color: #f4f4f4; }

.color-border {
  color: #ccc; }

.color-text {
  color: #222328; }

.color-text-active {
  color: #4d4f53; }

.color-reverse-text {
  color: #fff; }

.color-reverse-text-active {
  color: #ffcdcd; }

.color-bright-red {
  color: #B1040E; }

.color-dark-red {
  color: #8c1414; }

.color-black {
  color: #000; }

.color-charcoal {
  color: #222328; }

.color-stone {
  color: #4d4f53; }

.color-ash {
  color: #9c9d9e; }

.color-fog {
  color: #dad7cb; }

.color-mist {
  color: #FEFEFE; }

.color-white {
  color: #fff; }

.color-emphasis {
  color: #f9b002; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.sr-only-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: .1px;
  height: .1px; }

.sr-only-element {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(1% at 1% 1%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.keep-together {
  white-space: nowrap; }

@media only screen and (max-width: 575px) {
  .block--page-title {
    padding: 1em calc(((50% /12) * 0) + 20px); }
    .block--page-title::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .block--page-title {
    padding: 1em calc(((50% /12) * 0) + 20px); }
    .block--page-title::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .block--page-title {
    padding: 1em calc(((50% /12) * 0) + 40px); }
    .block--page-title::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .block--page-title {
    padding: 1em calc(((50% /12) * 0) + 40px); }
    .block--page-title::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 1500px) {
  .block--page-title {
    padding: 1em calc(50% - (750px - 60px)); }
    .block--page-title::after {
      clear: both;
      content: "";
      display: block; } }

@media only print {
  .block--page-title {
    padding: 1em calc(((50% /12) * 0) + 0.25in); }
    .block--page-title::after {
      clear: both;
      content: "";
      display: block; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.block--link-block > .list-item {
  display: block; }

.block--link-block .list-heading {
  font-size: 1.776889em;
  margin-top: 0px; }

.block--link-block a,
.block--link-block a:link,
.block--link-block a:visited {
  color: #B1040E; }

.block--link-block a:hover {
  color: #820000; }

/*# sourceMappingURL=theme.css.map */