@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

$hero-max-width-md: 1380px;
$hero-max-width-lg: 1500px;

@mixin header-dash {
  &::after {
    background-color: color(white);
    content: "";
    position: absolute;
    right: 0;
    bottom: .5em;
    height: 2px;
    width: 30px;
  }
}

// Going to move this to a different theme file that is more specific to when
// the component is used.
//.hero-banner {
//  margin-top: -121px;
//}

.hero-banner__container {
  border: 1px solid rgba(255, 255, 255, .5);
  margin-top: em(65px);
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $hero-max-width-lg) {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
  }
}

.hero-banner__header {
  @include fade-in;
  letter-spacing: .5px;

  .hero-banner__title {
    @extend %h1 !optional;
  }

  &.is-right {
    @include grid-media($media-md) {
      .hero-banner__title {
        @include header-dash;
        position: relative;
        padding-right: 40px;
      }
    }
  }

  p {
    line-height: 2;
  }

  .cite {
    @include font-size(10px);
    opacity: 0.8;
  }
}

.hero-banner__footer {
  @include responsive-container($default-container);
  text-align: right;
}
