@charset 'UTF-8';

@mixin container-offset-left {
  @include grid-media($media-md) {
    padding-left: calc(((50% /12) * 0) + 280px);
    padding-right: calc(((50% /12) * 0) + 50px);
  }

  @include grid-media($media-xl) {
    padding-left: calc(50% - (750px - 320px));
    padding-right: calc(50% - (750px - 60px));
  }
}

@mixin container-offset-left-margin {
  @include grid-media($media-md) {
    margin-left: calc(((50% /12) * 0) + 280px);
    margin-right: calc(((50% /12) * 0) + 50px);
  }

  @include grid-media($media-xl) {
    margin-left: calc(50% - (750px - 320px));
    margin-right: calc(50% - (750px - 60px));
  }
}

@mixin container-offset-left-collapse {
  @include grid-media($media-md) {
    padding-left: calc(((50% /12) * 0) + 250px);
  }

  @include grid-media($media-xl) {
    padding-left: calc(50% - (750px - 290px));
  }
}

@mixin container-offset-combo {
  @include grid-media($media-md) {
    padding-left: calc(((50% /12) * 0) + 260px);
  }

  @include grid-media($media-lg) {
    margin-left: calc(((50% /12) * 0) + 260px);
    padding-left: 0;
  }

  @include grid-media($media-xl) {
    margin-left: calc(50% - (750px - 280px));
  }
}

@mixin vertical-spacing {
  padding-bottom: 24px;

  @include grid-media($media-lg) {
    padding-bottom: 44px;
  }
}

@mixin vertical-spacing-lg {
  padding-bottom: 40px;

  @include grid-media($media-lg) {
    padding-bottom: 60px;
  }
}

@mixin vertical-spacing-margin {
  margin-bottom: 24px;

  @include grid-media($media-lg) {
    margin-bottom: 44px;
  }
}

@mixin vertical-spacing-margin-lg {
  margin-bottom: 40px;

  @include grid-media($media-lg) {
    margin-bottom: 60px;
  }
}
