@charset 'UTF-8';

@mixin fullpage-stripe {
  content: '';
  background-color: color(dust);
  position: absolute;
  top: 2rem;
  bottom: 2rem;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: -1;
}
