@charset 'UTF-8';

// This is my and the parent theme's config.
@import "config/config";

// Dependencies.
@import 'decanter/core/utilities/decanter-utilities';

///
/// Styles for a node type that should have a hero banner at the top.
///

@mixin hero-banner-node {

  article .content > div:first-child .hero-banner {
    margin-top: -120px;
  }

  // temporary until I can find a better solution overall for the tabs.
  .block--local-tasks {
    position: absolute;
    left: 0;
    z-index: 10;
    padding: 1em 0 !important; // only tmp so ignore for now.

    @include grid-media($media-sm-max) {
      display: none;
    }

    ul.tabs {
      background: #FFF;
      width: 100%;

      li {
        display: block;
      }
    }
  }

}
