@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

html .getsocial {
  margin-top: -15px;

  .gs-buttons.gs-left {
    text-align: center !important;

    @include grid-media($media-lg-only) {
      text-align: left !important;
    }
  }
}

.section-spotlights {
  .getsocial {
    margin-top: 0;
  }

  .content-type-date__actions.social-actions {
    margin-bottom: 15px;
  }
}
