@charset 'UTF-8';

@import 'decanter/core/utilities/decanter-utilities';

// Grab our mixins.
@import 'patterns/utilities/utilities';

.masonry-blocks {
  $simple-blocks-grid: (
    columns: 12,
    gutter: 30px,
  );

  @include grid-container;
  margin: 0 auto;
  max-width: 380px;

  @include grid-media($media-md) {
    max-width: none;
  }

  .masonry-block {
    margin-bottom: 30px;
    width: 100%;

    @include grid-media($media-md) {
      @include grid-column(6, $simple-blocks-grid);
      max-width: none;
    }

    @include grid-media($media-lg) {
      @include grid-column(3, $simple-blocks-grid);
    }

    &.has-columns,
    &.is-wide {
      @include grid-media($media-md) {
        @include grid-column(12, $simple-blocks-grid);
      }

      @include grid-media($media-lg) {
        @include grid-column(6, $simple-blocks-grid);
      }
    }

    &.is-full-width {
      width: 100%;

      @include grid-media($media-md) {
        @include grid-column(12, $simple-blocks-grid);
        max-width: none;
      }

      @include grid-media($media-lg) {
        @include grid-column(12, $simple-blocks-grid);
      }
    }
  }
}
