{#
/**
 * @file
 * Section Header Banner pattern.
 */
#}

{% set attributes = attributes.addClass(['section-header-banner']) %}
{% if items|field_count == 1 %}
  {% set attributes = attributes.addClass('is-single') %}
{% endif %}

{% if image|get_img_src is not empty %}
  {% set paragraph_id = 'paraID' ~ random() %}
  {% set attributes = attributes.setAttribute('id', paragraph_id) %}
  {% set attributes = attributes.addClass('lazy-background') %}
{% endif %}

{% set header_vars = {'superhead': superhead, 'subhead': subhead, 'context': context, 'link': link} %}
<style>
  #{{ paragraph_id}}.visible {background-image:url('{{~ image|get_img_src ~}}')};
</style>
<div{{ attributes }} >
  {{ pattern('header_card', header_vars) }}
</div>
