@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

.social-actions {
  position: relative;
  padding: 10px;
  margin-top: 10px;

  a {
    color: color(text-active);
    padding: 0 10px 0 0;
  }

  svg {
    height: 1.6em;
    color: color(action);
    vertical-align: middle;
    display: inline;
    margin-top: -3px;

    &:hover {
      opacity: .8;
    }
  }
}
