@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

.callout--blocks {
  $_callout-block-container: (
    sm-max: (columns: 1, grid-media: $media-sm-max,   v-space: 40px, max-width: false, grid-collapse: false),
    md: (columns: 12, grid-media: $media-md,          v-space: 40px, max-width: false, grid-collapse: false),
    lg: (columns: 10, grid-media: $media-lg,          v-space: 40px, max-width: true, grid-collapse: false),
    xl: (columns: 10, grid-media: $media-xl,          v-space: 40px, max-width: true,  grid-collapse: false),
    print: (columns: 12, grid-media: $media-print,    v-space: 40px, max-width: false, grid-collapse: false),
  );

  @include responsive-container($_callout-block-container);
}

.callout__block {
  width: 100%;

  @include grid-media($media-md) {
    float: left;
    width: 30%;
  }  
}

.callout__icon {
  img {
    height: 50px;
    width: 50px;
  }
}

// Theme
.callout__block {
  padding-left: em(40px);
  position: relative;

  .block__title {

  }

  .block__title--intro {
    color: color(ash);
    font-size: em(12px);
    text-transform: uppercase;
  }

  .block__title--name {
    color: color(brand);
    font-size: em(26px);
    margin-bottom: 0;
  }

  .block__title--secondary {
    color: color(action);
    font-size: em(12px);
    margin-left: 16px;
    text-transform: uppercase;
  }

  .callout__action {
    padding: 1em 0;
    margin-left: 16px;

    @include on-event {
      use {
        fill: color(ash);
      }
    }

    svg {
      vertical-align: middle;
    }

    use {
      fill: color(brand);
    }
  }

  .callout__icon {
    position: absolute;
    top: 0;
    left: 0;
  }
}
