@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

.section-header {
  color: color(text-active);
  text-align: center;

  .section-feature-blocks & {
    text-align: left;
  }

  h2 {
    &.has-dash-under {
      @include dash-under($dash-color: brand);
    }

    &.has-dash-left {
      @include dash-left($dash-color: brand);
    }

    &.has-dash-emphasis::after {
      background-color: color(emphasis);
    }
  }

  p {
    color: color(ash);
    line-height: em(22px);
    letter-spacing: 0.5px;
  }

  a {
    font-size: em(12px);
    text-transform: uppercase;
    letter-spacing: 0.15px;
  }
}
