@charset 'UTF-8';

////
/// Custom color palettes
////

$palette-matson: (
    brand:                        #8c1515,
    action:                       #017c92,
    action-active:                #016779,
    background:                   #fff,
    background-secondary:         #f4f4f4,
    border:                       #ccc,
    text:                         #121111,
    text-active:                  #808080,
    reverse-text:                 #fff,
    reverse-text-active:          #ffcdcd,
    bright-red:                   #B1040E,
    dark-red:                     #820000,
    black:                        #000,
    charcoal:                     #2F2424,
    stone:                        #808080,
    ash:                          #ccc,
    fog:                          #f4f4f4,
    white:                        #fff,
);

// Set default color palette (overrides decanter)
$colors: $palette-matson;

// Brand Colors
$primary-color: #8c1414;
$emphasis-color: #f9b002;

// Action Colors
$status-color: #8dbe51;
$warning-color: #ddc44f;
$error-color: #cd4533;
