@charset 'UTF-8';

////
/// Custom color palettes
////

$palette-matson: (
    brand:                        #8c1515,
    action:                       #017c92,
    action-active:                #016779,
    background:                   #fff,
    background-secondary:         #f4f4f4,
    border:                       #ccc,
    text:                         #222328,
    text-active:                  #4d4f53,
    reverse-text:                 #fff,
    reverse-text-active:          #ffcdcd,
    bright-red:                   #B1040E,
    dark-red:                     #8c1414,
    black:                        #000,
    charcoal:                     #222328,
    stone:                        #4d4f53,
    ash:                          #9c9d9e,
    fog:                          #dad7cb,
    mist:                         #FEFEFE,
    white:                        #fff,
    emphasis:                     #f9b002,
);

// Set default color palette (overrides decanter)
$colors: $palette-matson;

// Brand Colors
$primary-color: #8c1414;
$emphasis-color: #f9b002;

// Action Colors
$status-color: #8dbe51;
$warning-color: #ddc44f;
$error-color: #cd4533;

// Utility for creating color classes
.color {
  @each $color-name, $color-value in $palette-matson {
    &-#{"" + $color-name} {
      color: $color-value;
    }
  }
}
