@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

.expandable-container {
  border-bottom: 1px solid color(ash);
  width: 100%;
  text-align: center;
}

.expandable-container__open {
  background-color: color(white);
  padding: 1em;
  margin: 0 auto;
  position: relative;
  bottom: -1em;
}