@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

.player__button {
  cursor: pointer;
  display: inline-block;

  @include on-event {
    use {
      stroke: color(white);
    }
  }

  use {
    stroke: color(tint);
  }
}
