$nav-container: (
xs: ( columns: 12, grid-media: $media-xs-only,  v-space: 0, max-width: false, grid-collapse: false ),
sm: ( columns: 12, grid-media: $media-sm-only,  v-space: 0, max-width: false, grid-collapse: false ),
md: ( columns: 12, grid-media: $media-md-only,  v-space: 0, max-width: false, grid-collapse: false ),
lg: ( columns: 12, grid-media: $media-lg-only,  v-space: 0, max-width: false, grid-collapse: false ),
xl: ( columns: 12, grid-media: $media-xl,       v-space: 0, max-width: true,  grid-collapse: false ),
print: ( columns: 12, grid-media: $media-print, v-space: 0, max-width: false, grid-collapse: false ),
) !default;

$nav-bar-height: em(65px);

.navbar {
  background: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;

  &.is-expanded {
    height: auto;

    @include grid-media($media-md) {
      padding-top: 0;
    }
  }
}

.navbar__container {
  @include responsive-container($nav-container);
}

.navbar__inner {
  position: relative;
}

.navbar__group {
  display: block;
  padding-bottom: $nav-bar-height;
  padding-top: $nav-bar-height;

  @include grid-media($media-md) {
    display: block;
    float: right;
    padding-bottom: 0;
    padding-top: 0;
    margin-right: $nav-bar-height;
  }
}

.navbar__button {
  position: absolute;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  height: $nav-bar-height;
  width: $nav-bar-height;
  right: 0;
  z-index: 4;

  @include on-event {
    background: transparent;
  }

  @include grid-media($media-md) {
    display: none;
  }

  .i-svg {
    height: em(22px);
    width: em(22px);
    margin-bottom: -2px;

    use {
      fill: color(white);
    }
  }

  .i-svg--close {
    display: none;
  }

  &.is-active {
    .i-svg--menu {
      display: none;
    }

    .i-svg--close {
      display: inline-block;
    }
  }
}

.navbar__search {
  background: rgba(0,0,0,.5);
  position: absolute;
  bottom: 0;
  left: -20px;
  right: -20px;
  padding-left: 20px;
  padding-right: 20px;

  @include grid-media($media-md) {
    background: transparent;
    bottom: auto;
    left: auto;
    top: 0;
    right: 0;
  }
}
