$nav-container: (
  xs: ( columns: 12, grid-media: $media-xs-only,  v-space: 0, max-width: false, grid-collapse: false ),
  sm: ( columns: 12, grid-media: $media-sm-only,  v-space: 0, max-width: false, grid-collapse: false ),
  md: ( columns: 12, grid-media: $media-md-only,  v-space: 0, max-width: false, grid-collapse: false ),
  lg: ( columns: 12, grid-media: $media-lg-only,  v-space: 0, max-width: false, grid-collapse: false ),
  xl: ( columns: 12, grid-media: $media-xl,       v-space: 0, max-width: true,  grid-collapse: false ),
  print: ( columns: 12, grid-media: $media-print, v-space: 0, max-width: false, grid-collapse: false ),
) !default;

$navbar-height: em(65px);

.navbar {
  background: rgba(0,0,0,.5);
  height: $navbar-height;

  &.is-expanded {
    height: auto;
    padding-top: $navbar-height;

    @include grid-media($media-md) {
      padding-top: 0;
    }
  }
}

.navbar__container {
  @include responsive-container($nav-container);
}

.navbar__inner {
  position: relative;
}

.navbar__group {
  display: block;
  padding-bottom: $navbar-height;

  @include grid-media($media-md) {
    display: block;
    float: right;
    padding-bottom: 0;
    margin-right: $navbar-height;
  }
}

.navbar__button {
  position: absolute;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  height: $navbar-height;
  width: $navbar-height;
  right: 0;
  top: em(-65px);

  @include on-event {
    background: transparent;
  }

  @include grid-media($media-md) {
    display: none;
  }

  .i-svg {
    height: em(22px);
    width: em(22px);
    margin-bottom: -2px;

    use {
      fill: color(white);
    }
  }
}

.navbar__search {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  @include grid-media($media-md) {
    bottom: auto;
    left: auto;
    top: 0;
  }
}
