.js-nav-item-expandable {
  li {
    &.is-open ul {
      display: block;
    }

    &.is-open {
      background: transparent url('/themes/custom/matson/img/optimized/carrot-white.svg') no-repeat right center;
      background-size: 8px 8px;
    }
  }
}
