@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

// Content styles
.field-p-wysiwyg {
  padding-bottom: em(46px);

  > :last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 30px;
  }

  p + h2 {
    margin-top: 50px;
  }

  blockquote + h1,
  blockquote + h2,
  blockquote + h3,
  blockquote + h4,
  blockquote + h5,
  blockquote + h6, {
    margin-top: modular-scale(0);
  }

  // Floated images
  figure {
    display: table;
    margin-bottom: 30px;

    &.align-right {
      margin-left: 30px;
    }

    &.align-left {
      margin-right: 30px;
    }
  }

  figure.align-left,
  figure.align-right {
    img[data-responsive-image-style="landscape"],
    img[data-responsive-image-style="portrait"] {
      width: 100%;
    }
  }

  figcaption {
    display: table-caption;
    caption-side: bottom;
    color: color(ash);
    text-align: left;
  }

  img {
    margin-bottom: 20px;

    &.align-right {
      margin-left: 20px;
    }

    &.align-left {
      margin-right: 20px;
    }
  }

  img[data-responsive-image-style="landscape"],
  img[data-responsive-image-style="portrait"] {
    width: calc(50% - 20px);
  }

  img[data-responsive-image-style="wide"] {
    width: 100%;
    min-width: 100%;

    &.align-right {
      margin-left: 0;
    }

    &.align-left {
      margin-right: 0;
    }
  }

  // Headers clear floats.

  h2,
  h3,
  h4,
  h5,
  h6 {
    clear: both;
  }

}
