@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

.earth-matters-footer {
  background-size: cover;
  background-position: center;
  padding: 90px calc(50% - (625px - 30px));

  &__menu-item {
    display: block;
    color: color(white);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 2rem;
    transition: all .2s;
    line-height: 2.4rem;
    border-bottom: none;

    @include on-event {
      opacity: 1;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      color: white;
    }
  }

  &__logo-container {
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }

  &__logo {
    display: inline-block;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 4.6rem;
    color: color(sandstone-light);
    line-height: 5.5rem;
    margin-left: 2rem;
    opacity: 0.8;

    @media only screen and (max-width: 768px) {
      margin: 0;
    }
  }
  
  &__logo-2 {
    font-weight: 400;
    font-size: 4rem;
    margin-left: 1rem;
  }

  &__links-container {
    padding: 0 7rem 0 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 12rem;
    justify-items: center;
    margin-top: 5rem;
    
    @media only screen and (max-width: 1130px) {
      row-gap: 5rem;
    }

    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }

  &__links {
    margin: 0;
    font-weight: 700;
    
    li {
      list-style: none;
    }
  }

  &__address {
    text-align: center;
    color: color(sandstone-light);
    margin-top: 6rem;
    font-size: 2rem;
  }

  &__list-heading {
    color: color(white);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    opacity: 0.8;
  }

  &__social-twitter {
    margin: -1rem 0.75rem -1rem -4.25rem;
  }

  &__subscribe {
    .button__hollow {
      font-weight: 400;
      letter-spacing: 1.4px;
      color: color(yellow-light);
      margin-top: 2rem;
  
      @include on-event {
        color: color(text);
      }
    }
  }

  hr {
    color: color(sandstone-light);
    margin: 1rem 0 1rem 0;

    @media only screen and (max-width: 1130px) {
      margin: 1rem 2rem 0 2rem;
    }
    
    @media only screen and (max-width: 768px) {
      margin: 1rem 9rem 0 9rem;
    }
  }

  .field-p-wysiwyg p a, li:not(.menu-item) a, .field-p-wysiwyg a {
    text-decoration: none;
    font-weight: inherit;
    border-bottom: none;
    transition: none;
  }

  .menu {
    margin-left: 0;
    margin-top: 1rem;

    li {
      margin: 0;
      list-style: none;
    }

    a {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      padding: 1em 0;
      padding: 1rem 0;
      opacity: .8;
      text-transform: lowercase;
      color: white;

      @include on-event {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}