@charset "UTF-8";

/// Decanter global default settings
$decanter-default-settings: (
  root-font-size: 10px,
  base-font-size: 13px,
  modular-scale-ratio: 1.333,
  columns: 12,
  gutter: 15px,
  max-container-width: 1500px,
  breakpoint-helper: false,
  breakpoint-helper-selector: #breakpoint-helper,
);

/// @name Bourbon Settings
///
/// @type map
///
/// @property {color} contrast-switch-dark-color [#000]
///   Global dark color for the `contrast-switch` function.
///
/// @property {color} contrast-switch-light-color [#fff]
///   Global light color for the `contrast-switch` function.
///
/// @property {list} global-font-file-formats [("ttf", "woff2", "woff")]
///   Global font file formats for the `font-face` mixin.
///
/// @property {number (with unit)} modular-scale-base [1em]
///   Global base value for the `modular-scale` function.
///
/// @property {number (unitless)} modular-scale-ratio [$major-third (1.25)]
///   Global base ratio for the `modular-scale` function.
///
/// @property {boolean} rails-asset-pipeline [false]
///   Set this to `true` when using the Rails Asset Pipeline and Bourbon will
///   write asset paths using
///   [sass-rails’ asset helpers](https://github.com/rails/sass-rails#asset-helpers).
///
/// @example scss
///   $bourbon: (
///     "contrast-switch-dark-color": #000,
///     "contrast-switch-light-color": #fff,
///     "global-font-file-formats": ("ttf", "woff2", "woff"),
///     "modular-scale-base": 1em,
///     "modular-scale-ratio": $major-third,
///     "rails-asset-pipeline": false,
///   );
///
/// @group settings
///
$bourbon: (
  "modular-scale-ratio": 1.333,
);

/// This variable is a sass map that overrides Neat's default grid settings.
/// Use this to define your project's grid properties incluting gutters and
/// total column count.
///
/// @type map
///
/// @name Neat grid
///
/// @property {number (unitless)} columns [12]
///   Default number of the total grid columns.
///
/// @property {number (with unit)} gutter [20px]
///   Default grid gutter width between columns.
///
/// @property {string | number (with unit)} media [null]
///   Grid media query.
///
/// @property {color} color [rgba(#00d4ff, 0.25)]
///   Default visual grid color.
///
/// @example scss
///   $neat-grid: (
///     columns: 12,
///     gutter: 20px,
///   );
///
/// @group settings
$neat-grid: (
    columns: map_get($decanter-default-settings, columns),
    gutter:  map_get($decanter-default-settings, gutter),
    media: null,
    color: rgba(#00d4ff, 0.25),
    direction: ltr,
);

/// Header MD Min
$header-md-min: 860px;

// Lower boundaries
// ----------------

/// Screen XS Min
$screen-xs-min:               0px;

/// Screen SM Min
$screen-sm-min:               576px;

/// Screen MD Min
$screen-md-min:               768px;

/// Screen LG Min
$screen-lg-min:               1024px;

/// Screen XL Min
$screen-xl-min:               map_get($decanter-default-settings, max-container-width) !default;

// Upper boundaries
// ----------------

/// Screen XS Max
$screen-xs-max:               $screen-sm-min - 1px;

/// Screen SM Max
$screen-sm-max:               $screen-md-min - 1px;

/// Screen MD Max
$screen-md-max:               $screen-lg-min - 1px;

/// Screen LG Max
$screen-lg-max:               $screen-xl-min - 1px;

/// @group _variables|grid-media
/// @link http://neat.bourbon.io/docs/latest/#grid-media Neat Docs - Grid Media
/// @type map
///
/// @property {number (unitless)} columns [null]
///   Default number of the total grid columns.
///
/// @property {number (with unit)} gutter [null]
///   Default grid gutter width between columns.
///
/// @property {string | number (with unit)} media [$screen-xs-min]
///   Grid media query.
///
/// @requires $screen-xs-min
///
$media-xs: (
    media: $screen-xs-min,
) !default;

/// @group _variables|grid-media
/// @link http://neat.bourbon.io/docs/latest/#grid-media Neat Docs - Grid Media
/// @type map
///
/// @property {number (unitless)} columns [null]
///   Default number of the total grid columns.
///
/// @property {number (with unit)} gutter [null]
///   Default grid gutter width between columns.
///
/// @property {string | number (with unit)} media ['only screen and (max-width: $screen-xs-max)']
///   Grid media query.
///
/// @requires $screen-xs-max
///
$media-xs-only: (
    media: 'only screen and (max-width: #{$screen-xs-max})',
) !default;

/// @group _variables|grid-media
/// @link http://neat.bourbon.io/docs/latest/#grid-media Neat Docs - Grid Media
/// @type map
///
/// @property {number (unitless)} columns [null]
///   Default number of the total grid columns.
///
/// @property {number (with unit)} gutter [null]
///   Default grid gutter width between columns.
///
/// @property {string | number (with unit)} media ['only screen and (max-width: $screen-xs-max)']
///   Grid media query.
///
/// @requires $screen-xs-max
///
$media-xs-max: (
    media: 'only screen and (max-width: #{$screen-xs-max})',
) !default;

/// @group _variables|grid-media
/// @link http://neat.bourbon.io/docs/latest/#grid-media Neat Docs - Grid Media
/// @type map
///
/// @property {number (unitless)} columns [null]
///   Default number of the total grid columns.
///
/// @property {number (with unit)} gutter [null]
///   Default grid gutter width between columns.
///
/// @property {string | number (with unit)} media [$screen-sm-min]
///   Grid media query.
///
/// @requires $screen-sm-min
///
$media-sm: (
    media: $screen-sm-min,
) !default;

/// @group _variables|grid-media
/// @link http://neat.bourbon.io/docs/latest/#grid-media Neat Docs - Grid Media
/// @type map
///
/// @property {number (unitless)} columns [null]
///   Default number of the total grid columns.
///
/// @property {number (with unit)} gutter [null]
///   Default grid gutter width between columns.
///
/// @property {string | number (with unit)} media ['only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max)']
///   Grid media query.
///
/// @requires $screen-sm-min
/// @requires $screen-sm-max
///
$media-sm-only: (
    media: 'only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})',
) !default;

/// @group _variables|grid-media
/// @link http://neat.bourbon.io/docs/latest/#grid-media Neat Docs - Grid Media
/// @type map
///
/// @property {number (unitless)} columns [null]
///   Default number of the total grid columns.
///
/// @property {number (with unit)} gutter [null]
///   Default grid gutter width between columns.
///
/// @property {string | number (with unit)} media ['only screen and (max-width: $screen-sm-max)']
///   Grid media query.
///
/// @requires $screen-sm-max
///
$media-sm-max: (
    media: 'only screen and (max-width: #{$screen-sm-max})',
) !default;

/// @group _variables|grid-media
/// @link http://neat.bourbon.io/docs/latest/#grid-media Neat Docs - Grid Media
/// @type map
///
/// @property {number (unitless)} columns [null]
///   Default number of the total grid columns.
///
/// @property {number (with unit)} gutter [null]
///   Default grid gutter width between columns.
///
/// @property {string | number (with unit)} $screen-md-min]
///   Grid media query.
///
/// @requires $screen-md-min
///

/// Media MD
$media-md: (
  columns: 12,
  gutter: 30px,
  media: $screen-md-min,
);

/// Media MD only
$media-md-only: (
  columns: 12,
  gutter: 30px,
  media: 'only screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})',
);

/// Media MD max
$media-md-max: (
  columns: 12,
  gutter: 30px,
  media: 'only screen and (max-width: #{$screen-md-max})',
);

 /// Component Header
$header-md: (
  columns: 12,
  gutter: 30px,
  media: $header-md-min,
);

/// Media LG
$media-lg: (
  columns: 12,
  gutter: 30px,
  media: $screen-lg-min,
);

/// Media LG only
$media-lg-only: (
  columns: 12,
  gutter: 30px,
  media: 'only screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max})',
);

/// Media LG max
$media-lg-max: (
  columns: 12,
  gutter: 30px,
  media: 'only screen and (max-width: #{$screen-lg-max})',
);

/// Media XL
$media-xl: (
  columns: 12,
  gutter: 60px,
  media: $screen-xl-min,
);

/// @group _variables|grid-media
/// @link http://neat.bourbon.io/docs/latest/#grid-media Neat | Grid Media
/// @type map
///
/// @property {number (unitless)} columns [12]
///   Default number of the total grid columns.
///
/// @property {number (with unit)} gutter [.25in]
///   Default grid gutter width between columns.
///
/// @property {string | number (with unit)} 'only print']
///   Grid media query.
///
$media-print: (
    columns: 12,
    gutter: .25in,
    media: 'only print',
) !default;

$default-container: (
  xs: (columns: 12, grid-media: $media-xs-only,  v-space: 1em, max-width: false, grid-collapse: false),
  sm: (columns: 12, grid-media: $media-sm-only,  v-space: 1em, max-width: false, grid-collapse: false),
  md: (columns: 12, grid-media: $media-md-only,  v-space: 1em, max-width: false, grid-collapse: false),
  lg: (columns: 12, grid-media: $media-lg-only,  v-space: 1em, max-width: false, grid-collapse: false),
  xl: (columns: 12, grid-media: $media-xl,       v-space: 1em, max-width: true,  grid-collapse: false),
  print: (columns: 12, grid-media: $media-print, v-space: 1em, max-width: false, grid-collapse: false),
);
