@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

.quote-card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: em(30px) em(100px);

  p {
    color: color(ash);
  }

}

.quote-card__icon {
  color: color(dark-red);
  position: relative;
  left: -60px;
  top: 30px;

  svg {
    height: 19px;
    width: 29px;
  }

}

.quote-card__quote {
  font-size: em(26px);
  letter-spacing: .5px;
  line-height: 1.3em;
}

.quote-card__source {

  border: em(3px);

  h3 {
    color: color(dark-red);
    font-size: em(12px);
    letter-spacing: .9px;
    text-transform: uppercase;
  }

}
