@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

.tag-item {
  border: 1px solid color(white);
  padding: .5em 1em;
  color: color(white);
  font-size: em(12px);
  font-weight: 600;
  letter-spacing: .2px;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}
