@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

.field--responsive-image picture,
.field--responsive-video {
  position: relative;
  margin-bottom: 20px;
  display: block;

  &::after {
    @include fullpage-stripe;
  }

  img {
    width: 100%;
    max-width: none;
    margin-bottom: 0;
    display: block;
  }
}

.field-p-responsive-image {
  padding-bottom: em(46px);
}

.field-p-responsive-image-cred {
  color: color(stone);
  text-align: right;
}
