.field-p-wysiwyg h2::after {
  position: absolute;
  height: 2px;
  width: 20px;
  content: '';
  display: block;
  z-index: 2; }

#hero-banner:first-child:not(.component-centered-container-margins) {
  margin-top: -121px; }
  @media only screen and (min-width: 860px) {
    #hero-banner:first-child:not(.component-centered-container-margins) {
      margin-top: -126px; } }

.block--local-tasks {
  position: absolute;
  left: 0;
  z-index: 10;
  padding: 1em 0 !important; }
  @media only screen and (max-width: 767px) {
    .block--local-tasks {
      display: none; } }
  .block--local-tasks ul.tabs {
    background: #FFF;
    width: 100%; }
    .block--local-tasks ul.tabs li {
      display: block; }

@media only screen and (min-width: 768px) {
  #header .block--lockup {
    visibility: hidden; } }

@media only screen and (min-width: 768px) {
  .ptype-stanford-slat .simple-slat {
    padding-left: calc(((50% /12) * 0) + 280px);
    padding-right: calc(((50% /12) * 0) + 50px); } }

@media only screen and (min-width: 1500px) {
  .ptype-stanford-slat .simple-slat {
    padding-left: calc(50% - (750px - 320px));
    padding-right: calc(50% - (750px - 60px)); } }

.ptype-stanford-slat .simple-slat.is-narrow {
  margin: 0;
  margin-bottom: 40px; }
  @media only screen and (min-width: 1024px) {
    .ptype-stanford-slat .simple-slat.is-narrow {
      margin-bottom: 60px; } }

.ptype-stanford-slat .simple-block {
  background-color: #FBFBFB;
  padding: 30px; }
  .ptype-stanford-slat .simple-block::after {
    clear: both;
    content: "";
    display: block; }
  @media only screen and (min-width: 576px) {
    .ptype-stanford-slat .simple-block {
      padding-left: 0; } }

.ptype-stanford-slat .simple-block__image {
  margin-bottom: 30px; }
  @media only screen and (min-width: 768px) {
    .ptype-stanford-slat .simple-block__image {
      margin-bottom: 0; } }

.ptype-stanford-slat .simple-block__title {
  font-size: 32px; }

.ptype-stanford-slat .simple-block__image-caption {
  color: #9c9d9e; }

.ptype-stanford-slat .simple-block__description {
  font-size: 20px;
  color: #4d4f53; }

.filmstrip.is-flexible {
  max-width: 420px; }
  @media only screen and (min-width: 768px) {
    .filmstrip.is-flexible {
      max-width: none; } }

.with-floating_sidebar .column--second::after {
  clear: both;
  content: "";
  display: block; }

@media only screen and (min-width: 768px) {
  #floating_sidebar {
    width: 190px; } }

#floating_sidebar__wrapper .block-region-first > .block-ctools-block > span > a {
  color: #fff;
  background: #017c92;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.9px;
  font-weight: 700;
  padding: 7px 30px;
  margin-bottom: 20px;
  display: block; }

#floating_sidebar__wrapper h2 {
  color: #fff;
  background: #017c92;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.9px;
  font-weight: 700;
  padding: 7px 30px;
  margin-bottom: 20px; }

@media only screen and (max-width: 767px) {
  #floating_sidebar__wrapper nav ul.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    #floating_sidebar__wrapper nav ul.menu li {
      display: inline-block;
      width: auto;
      list-style-image: none;
      list-style: none;
      list-style-type: none;
      padding: 7px 10px;
      margin: 0;
      text-indent: 0; }
    #floating_sidebar__wrapper nav ul.menu a {
      color: #222328;
      padding: 16px;
      font-size: font-size(16px);
      font-weight: 600;
      text-transform: uppercase; }
    #floating_sidebar__wrapper nav ul.menu a:hover,
    #floating_sidebar__wrapper nav ul.menu a.is-active {
      text-decoration: none;
      box-shadow: inset 0 -3px 0 0 #f9b002; } }

@media only screen and (min-width: 768px) {
  #floating_sidebar__wrapper nav ul.menu {
    padding: 0 0 0 0;
    margin: 0 0 0 0; }
    #floating_sidebar__wrapper nav ul.menu li {
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      display: block;
      float: none;
      line-height: 1em; }
      #floating_sidebar__wrapper nav ul.menu li a {
        color: #4d4f53;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1em;
        padding: 0.9375em 0.9375em;
        -webkit-transition: background 0.5s;
        transition: background 0.5s;
        display: block;
        border-left: 2px solid transparent; }
      #floating_sidebar__wrapper nav ul.menu li a:hover,
      #floating_sidebar__wrapper nav ul.menu li a.is-active {
        background: #FFF;
        box-shadow: none;
        color: #8c1515;
        border-left: 2px solid #017c92;
        text-decoration: none; } }

.layout--basic {
  margin-bottom: 24px; }
  @media only screen and (min-width: 768px) {
    .layout--basic {
      padding-left: calc(((50% /12) * 0) + 280px);
      padding-right: calc(((50% /12) * 0) + 50px); } }
  @media only screen and (min-width: 1500px) {
    .layout--basic {
      padding-left: calc(50% - (750px - 320px));
      padding-right: calc(50% - (750px - 60px)); } }
  @media only screen and (min-width: 1024px) {
    .layout--basic {
      margin-bottom: 44px; } }

.link-banner {
  margin-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    .link-banner {
      padding-left: calc(((50% /12) * 0) + 250px); } }
  @media only screen and (min-width: 1500px) {
    .link-banner {
      padding-left: calc(50% - (750px - 290px)); } }
  @media only screen and (min-width: 1024px) {
    .link-banner {
      margin-bottom: 60px; } }

.postcard {
  margin-bottom: 40px; }
  @media only screen and (min-width: 1024px) {
    .postcard {
      margin-bottom: 60px; } }
  @media only screen and (min-width: 768px) {
    .postcard .postcard__content-inner {
      width: 70%; } }
  .postcard.has-image-left {
    overflow: visible; }
    @media only screen and (min-width: 768px) {
      .postcard.has-image-left {
        padding-left: calc(((50% /12) * 0) + 260px); } }
    @media only screen and (min-width: 1024px) {
      .postcard.has-image-left {
        margin-left: calc(((50% /12) * 0) + 260px);
        padding-left: 0; } }
    @media only screen and (min-width: 1500px) {
      .postcard.has-image-left {
        margin-left: calc(50% - (750px - 280px)); } }
    @media only screen and (min-width: 768px) {
      .postcard.has-image-left .postcard__image {
        left: 0; } }
    @media only screen and (min-width: 1024px) {
      .postcard.has-image-left .postcard__image {
        width: calc(70% + ((((50% /12) * 0) + 260px)));
        left: -260px; } }
    @media only screen and (min-width: 1500px) {
      .postcard.has-image-left .postcard__image {
        width: calc(100% + (50% - (750px - 280px)));
        left: calc((80% - (750px - 280px)) * -1); } }
    @media only screen and (min-width: 1024px) {
      .postcard.has-image-left .postcard__content-inner {
        width: 40%; } }
    @media only screen and (min-width: 1500px) {
      .postcard.has-image-left .postcard__content-inner {
        width: 32%; } }
  .postcard.has-image-right {
    overflow: visible; }
    @media only screen and (min-width: 768px) {
      .postcard.has-image-right {
        padding-left: calc(((50% /12) * 0) + 260px); } }
    @media only screen and (min-width: 1024px) {
      .postcard.has-image-right {
        margin-left: calc(((50% /12) * 0) + 260px);
        padding-left: 0; } }
    @media only screen and (min-width: 1500px) {
      .postcard.has-image-right {
        margin-left: calc(50% - (750px - 280px)); } }
    @media only screen and (min-width: 1024px) {
      .postcard.has-image-right:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #FBFBFB;
        content: "";
        display: block;
        left: -50vw;
        z-index: -1; } }
    @media only screen and (min-width: 1024px) {
      .postcard.has-image-right .postcard__content {
        max-width: none; } }
    @media only screen and (min-width: 1024px) {
      .postcard.has-image-right .postcard__content-inner {
        width: 40%; } }
    @media only screen and (min-width: 1500px) {
      .postcard.has-image-right .postcard__content-inner {
        width: 32%; } }

@media only screen and (min-width: 768px) {
  .ptype-stanford-section-header > .section-header {
    padding-left: calc(((50% /12) * 0) + 280px);
    padding-right: calc(((50% /12) * 0) + 50px); } }

@media only screen and (min-width: 1500px) {
  .ptype-stanford-section-header > .section-header {
    padding-left: calc(50% - (750px - 320px));
    padding-right: calc(50% - (750px - 60px)); } }

@media only screen and (min-width: 768px) {
  .section-callout-blocks {
    padding-left: calc(((50% /12) * 0) + 280px);
    padding-right: calc(((50% /12) * 0) + 50px); } }

@media only screen and (min-width: 1500px) {
  .section-callout-blocks {
    padding-left: calc(50% - (750px - 320px));
    padding-right: calc(50% - (750px - 60px)); } }

@media only screen and (min-width: 768px) {
  .section-callout-blocks .section-header {
    margin-left: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-callout-blocks .callout-blocks {
    margin-left: -30px;
    margin-right: -30px;
    width: calc(100% + 60px); } }

@media only screen and (min-width: 768px) {
  .section-callout-blocks .callout-blocks .callout-block {
    float: none;
    width: 100%;
    max-width: 250px;
    margin: 0 auto 3em; } }

@media only screen and (min-width: 1024px) {
  .section-callout-blocks .callout-blocks .callout-block {
    width: calc(33.3333333333% - 40px);
    float: left;
    margin-left: 30px;
    max-width: none;
    margin-left: 20px; } }

@media only screen and (min-width: 768px) {
  .section-callout-cards {
    padding-left: calc(((50% /12) * 0) + 250px); } }

@media only screen and (min-width: 1500px) {
  .section-callout-cards {
    padding-left: calc(50% - (750px - 290px)); } }

@media only screen and (min-width: 1024px) {
  .section-callout-cards .callout-cards__header {
    margin-left: 30px; } }

.section-callout-cards .callout-cards__header .component-centered-container {
  padding-right: 0;
  padding-left: 0; }

@media only screen and (min-width: 1024px) {
  .section-callout-cards .callout-cards__container {
    width: calc(75% - 52.5px);
    float: left;
    margin-left: 30px; } }

@media only screen and (min-width: 1500px) {
  .section-callout-cards .callout-cards__container {
    width: calc(75% - 105px);
    float: left;
    margin-left: 60px;
    margin-left: 30px; } }

.section-callout-filmstrip {
  margin-bottom: 24px; }
  @media only screen and (min-width: 1024px) {
    .section-callout-filmstrip {
      margin-bottom: 44px; } }
  @media only screen and (min-width: 768px) {
    .section-callout-filmstrip.header-to-left {
      padding-left: calc(((50% /12) * 0) + 250px); } }
  @media only screen and (min-width: 1500px) {
    .section-callout-filmstrip.header-to-left {
      padding-left: calc(50% - (750px - 290px)); } }
  @media only screen and (min-width: 768px) {
    .section-callout-filmstrip.header-to-left .filmstrip__header {
      width: 100%;
      margin-left: 0; } }
  @media only screen and (min-width: 1024px) {
    .section-callout-filmstrip.header-to-left .filmstrip__header {
      width: calc(25% - 37.5px);
      float: left;
      margin-left: 30px; } }
  @media only screen and (min-width: 768px) {
    .section-callout-filmstrip.header-to-left .filmstrip__container {
      width: 100%;
      margin-left: 0; } }
  @media only screen and (min-width: 1024px) {
    .section-callout-filmstrip.header-to-left .filmstrip__container {
      width: calc(75% - 52.5px);
      float: left;
      margin-left: 30px; } }
  @media only screen and (min-width: 1024px) {
    .section-callout-filmstrip.header-to-left .filmstrip__container .filmstrip.is-flexible,
    .section-callout-filmstrip.header-to-left .filmstrip__container .component-centered-container {
      margin-left: -30px;
      margin-right: -30px;
      width: calc(100% + 60px); } }
  @media only screen and (max-width: 575px) {
    .section-callout-filmstrip.header-to-top {
      padding: 1em calc(((50% /12) * 0) + 15px); }
      .section-callout-filmstrip.header-to-top::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-callout-filmstrip.header-to-top {
      padding: 1em calc(((50% /12) * 0) + 15px); }
      .section-callout-filmstrip.header-to-top::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .section-callout-filmstrip.header-to-top {
      padding: 1em calc(((50% /12) * 0) + 30px); }
      .section-callout-filmstrip.header-to-top::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1024px) and (max-width: 1499px) {
    .section-callout-filmstrip.header-to-top {
      padding: 1em calc(((50% /12) * 0) + 30px); }
      .section-callout-filmstrip.header-to-top::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1500px) {
    .section-callout-filmstrip.header-to-top {
      padding: 1em calc(50% - (750px - 60px)); }
      .section-callout-filmstrip.header-to-top::after {
        clear: both;
        content: "";
        display: block; } }
  @media only print {
    .section-callout-filmstrip.header-to-top {
      padding: 1em calc(((50% /12) * 0) + 0.25in); }
      .section-callout-filmstrip.header-to-top::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 768px) {
    .section-callout-filmstrip.header-to-top {
      padding-left: calc(((50% /12) * 0) + 280px);
      padding-right: calc(((50% /12) * 0) + 50px); } }
  @media only screen and (min-width: 1500px) {
    .section-callout-filmstrip.header-to-top {
      padding-left: calc(50% - (750px - 320px));
      padding-right: calc(50% - (750px - 60px)); } }
  @media only screen and (min-width: 1024px) {
    .section-callout-filmstrip.header-to-top .component-centered-container {
      padding: 0; } }
  @media only screen and (max-width: 575px) {
    .section-callout-filmstrip.header-to-top .section-header {
      padding: 1em calc(((50% /12) * 0) + 15px); }
      .section-callout-filmstrip.header-to-top .section-header::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-callout-filmstrip.header-to-top .section-header {
      padding: 1em calc(((50% /12) * 0) + 15px); }
      .section-callout-filmstrip.header-to-top .section-header::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .section-callout-filmstrip.header-to-top .section-header {
      padding: 1em calc(((50% /12) * 0) + 30px); }
      .section-callout-filmstrip.header-to-top .section-header::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1024px) and (max-width: 1499px) {
    .section-callout-filmstrip.header-to-top .section-header {
      padding: 1em calc(((50% /12) * 0) + 30px); }
      .section-callout-filmstrip.header-to-top .section-header::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1500px) {
    .section-callout-filmstrip.header-to-top .section-header {
      padding: 1em calc(50% - (750px - 60px)); }
      .section-callout-filmstrip.header-to-top .section-header::after {
        clear: both;
        content: "";
        display: block; } }
  @media only print {
    .section-callout-filmstrip.header-to-top .section-header {
      padding: 1em calc(((50% /12) * 0) + 0.25in); }
      .section-callout-filmstrip.header-to-top .section-header::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1024px) {
    .section-callout-filmstrip.header-to-top .filmstrip__cards {
      margin-left: 0;
      margin-right: 0;
      width: 100%; } }
  @media only screen and (min-width: 1500px) {
    .section-callout-filmstrip.header-to-top .filmstrip__cards {
      margin-left: -30px;
      margin-right: -30px;
      width: calc(100% + 60px); } }

.section-double-filmstrip {
  margin-bottom: 24px; }
  @media only screen and (min-width: 768px) {
    .section-double-filmstrip {
      padding-left: calc(((50% /12) * 0) + 250px); } }
  @media only screen and (min-width: 1500px) {
    .section-double-filmstrip {
      padding-left: calc(50% - (750px - 290px)); } }
  @media only screen and (min-width: 1024px) {
    .section-double-filmstrip {
      margin-bottom: 44px; } }

@media only screen and (min-width: 768px) {
  .section-expandable-banner {
    padding-left: calc(((50% /12) * 0) + 280px);
    padding-right: calc(((50% /12) * 0) + 50px); } }

@media only screen and (min-width: 1500px) {
  .section-expandable-banner {
    padding-left: calc(50% - (750px - 320px));
    padding-right: calc(50% - (750px - 60px)); } }

@media only screen and (min-width: 768px) {
  .section-expandable-banner {
    display: inherit; } }

@media only screen and (min-width: 1024px) {
  .section-expandable-banner {
    display: flex; } }

@media only screen and (min-width: 768px) {
  .section-expandable-banner .expandable-card {
    margin-right: 0;
    margin-left: 0;
    width: 100%; } }

@media only screen and (min-width: 1024px) {
  .section-expandable-banner .expandable-card {
    float: left;
    margin: 14px;
    width: 270px; } }

@media only screen and (min-width: 768px) {
  .section-expandable-banner .expandable-banner__header {
    width: 100%;
    margin-left: 0; } }

@media only screen and (min-width: 1024px) {
  .section-expandable-banner .expandable-banner__header {
    width: calc(50% - 45px);
    float: left;
    margin-left: 30px;
    margin-left: calc(8.3333333333% - 32.5px + 60px); } }

@media only screen and (min-width: 768px) {
  .section-expandable-banner .expandable-banner__container {
    width: 100%;
    margin-left: 0; } }

@media only screen and (min-width: 1024px) {
  .section-expandable-banner .expandable-banner__container {
    width: calc(75% - 52.5px);
    float: left;
    margin-left: 30px; } }

@media only screen and (min-width: 768px) {
  .section-expandable-banner .expandable-banner__container .expandable-cards {
    margin: 0;
    width: 100%; } }

@media only screen and (min-width: 1024px) {
  .section-expandable-banner .expandable-banner__container .expandable-cards {
    margin-left: -30px;
    margin-right: -30px;
    width: calc(100% + 60px); } }

.section-feature-blocks {
  margin-bottom: 24px; }
  @media only screen and (min-width: 768px) {
    .section-feature-blocks {
      padding-left: calc(((50% /12) * 0) + 250px); } }
  @media only screen and (min-width: 1500px) {
    .section-feature-blocks {
      padding-left: calc(50% - (750px - 290px)); } }
  @media only screen and (min-width: 1024px) {
    .section-feature-blocks {
      margin-bottom: 44px; } }
  .section-feature-blocks .feature-blocks__header .component-centered-container {
    padding-right: 0;
    padding-left: 0; }
  @media only screen and (min-width: 1500px) {
    .section-feature-blocks.right-aligned .feature-blocks__header {
      padding-left: 0; } }
  @media only screen and (min-width: 768px) {
    .section-feature-blocks.right-aligned .feature-blocks__container .feature-blocks {
      margin: 0;
      width: 100%; } }
  @media only screen and (min-width: 768px) {
    .section-feature-blocks.right-aligned .feature-blocks__container .feature-blocks {
      margin-left: -30px;
      margin-right: -30px;
      width: calc(100% + 60px); } }
  @media only screen and (min-width: 1500px) {
    .section-feature-blocks.left-aligned .feature-blocks__header {
      padding-right: 0; } }
  @media only screen and (min-width: 768px) {
    .section-feature-blocks.left-aligned .feature-blocks__container .feature-blocks {
      margin: 0;
      width: 100%; } }
  @media only screen and (min-width: 768px) {
    .section-feature-blocks.left-aligned .feature-blocks__container .feature-blocks {
      margin-left: -30px;
      margin-right: -30px;
      width: calc(100% + 60px); } }

.section-highlight-banner {
  margin-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    .section-highlight-banner {
      padding-left: calc(((50% /12) * 0) + 250px); } }
  @media only screen and (min-width: 1500px) {
    .section-highlight-banner {
      padding-left: calc(50% - (750px - 290px)); } }
  @media only screen and (min-width: 1024px) {
    .section-highlight-banner {
      margin-bottom: 60px; } }
  @media only screen and (min-width: 768px) {
    .section-highlight-banner {
      display: inherit; } }
  @media only screen and (min-width: 1024px) {
    .section-highlight-banner {
      display: flex; } }
  @media only screen and (min-width: 768px) {
    .section-highlight-banner .highlight-banner__header {
      width: 100%;
      margin-left: 0; } }
  @media only screen and (min-width: 1024px) {
    .section-highlight-banner .highlight-banner__header {
      width: calc(25% - 37.5px);
      float: left;
      margin-left: 30px; } }
  @media only screen and (min-width: 768px) {
    .section-highlight-banner .highlight-banner__container {
      width: 100%;
      margin-left: 0; } }
  @media only screen and (min-width: 1024px) {
    .section-highlight-banner .highlight-banner__container {
      width: calc(75% - 52.5px);
      float: left;
      margin-left: 30px;
      margin-left: calc(8.3333333333% - 32.5px + 60px); } }
  @media only screen and (min-width: 768px) {
    .section-highlight-banner .highlight-cards {
      display: inherit; } }
  @media only screen and (min-width: 1024px) {
    .section-highlight-banner .highlight-cards {
      display: flex; } }
  @media only screen and (min-width: 768px) {
    .section-highlight-banner .highlight-cards .highlight-card {
      width: 100%;
      margin: 0 auto 2em;
      float: none; } }
  @media only screen and (min-width: 1024px) {
    .section-highlight-banner .highlight-cards .highlight-card {
      width: calc(50% - 45px);
      float: left;
      margin-left: 30px;
      margin-right: 0;
      margin-bottom: 0;
      min-height: 200px; } }

.section-quote-banner {
  margin-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    .section-quote-banner {
      padding-left: calc(((50% /12) * 0) + 280px);
      padding-right: calc(((50% /12) * 0) + 50px); } }
  @media only screen and (min-width: 1500px) {
    .section-quote-banner {
      padding-left: calc(50% - (750px - 320px));
      padding-right: calc(50% - (750px - 60px)); } }
  @media only screen and (min-width: 1024px) {
    .section-quote-banner {
      margin-bottom: 60px; } }
  @media only screen and (min-width: 768px) {
    .section-quote-banner .quote-card {
      max-width: none; } }
  @media only screen and (min-width: 1024px) {
    .section-quote-banner .quote-card {
      max-width: 80%; } }

@media only screen and (min-width: 768px) {
  .section-tall-filmstrip {
    padding-left: calc(((50% /12) * 0) + 280px);
    padding-right: calc(((50% /12) * 0) + 50px); } }

@media only screen and (min-width: 1500px) {
  .section-tall-filmstrip {
    padding-left: calc(50% - (750px - 320px));
    padding-right: calc(50% - (750px - 60px)); } }

@media only screen and (min-width: 768px) {
  .section-tall-filmstrip .filmstrip.is-tall .film-card {
    width: 100%;
    margin-left: 0; } }

@media only screen and (min-width: 1024px) {
  .section-tall-filmstrip .filmstrip.is-tall .film-card {
    width: calc(25% - 37.5px);
    float: left;
    margin-left: 30px; }
    .section-tall-filmstrip .filmstrip.is-tall .film-card:nth-child(2), .section-tall-filmstrip .filmstrip.is-tall .film-card:nth-child(4), .section-tall-filmstrip .filmstrip.is-tall .film-card:nth-child(5n) {
      margin-top: -2em; }
    .section-tall-filmstrip .filmstrip.is-tall .film-card:nth-child(5n) {
      margin-left: calc(25% - 37.5px + 60px);
      clear: left; } }

.section-tall-filmstrip .filmstrip__header .component-centered-container {
  padding-right: 0;
  padding-left: 0; }

@media only screen and (min-width: 768px) {
  .section-tall-filmstrip .filmstrip__container {
    max-width: 240px; } }

@media only screen and (min-width: 1024px) {
  .section-tall-filmstrip .filmstrip__container {
    max-width: 800px; } }

.simple-columns {
  margin-bottom: 24px; }
  @media only screen and (min-width: 768px) {
    .simple-columns {
      margin-left: calc(((50% /12) * 0) + 280px);
      margin-right: calc(((50% /12) * 0) + 50px); } }
  @media only screen and (min-width: 1500px) {
    .simple-columns {
      margin-left: calc(50% - (750px - 320px));
      margin-right: calc(50% - (750px - 60px)); } }
  @media only screen and (min-width: 1024px) {
    .simple-columns {
      margin-bottom: 44px; } }
  @media only screen and (min-width: 1024px) {
    .simple-columns {
      padding-right: 100px;
      padding-left: 100px; } }

.ptype-stanford-video .hero-banner {
  padding-bottom: 40px;
  margin-bottom: 0; }
  @media only screen and (min-width: 768px) {
    .ptype-stanford-video .hero-banner {
      margin-left: calc(((50% /12) * 0) + 280px);
      margin-right: calc(((50% /12) * 0) + 50px); } }
  @media only screen and (min-width: 1500px) {
    .ptype-stanford-video .hero-banner {
      margin-left: calc(50% - (750px - 320px));
      margin-right: calc(50% - (750px - 60px)); } }
  @media only screen and (min-width: 1024px) {
    .ptype-stanford-video .hero-banner {
      padding-bottom: 60px; } }

.field-p-wysiwyg > :last-child {
  margin-bottom: 0; }

.field-p-wysiwyg h2 {
  position: relative;
  padding-left: .9em; }
  .field-p-wysiwyg h2::after {
    position: absolute;
    top: 50%;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #8c1515;
    left: 0; }

.field-p-wysiwyg p + h2 {
  margin-top: 50px; }

.field-p-wysiwyg figure {
  display: table; }
  .field-p-wysiwyg figure.align-right img {
    margin-left: 20px; }
  .field-p-wysiwyg figure.align-left img {
    margin-right: 20px; }

.field-p-wysiwyg figcaption {
  display: table-caption;
  caption-side: bottom;
  color: #9c9d9e;
  text-align: right; }

.field-p-wysiwyg img {
  margin-bottom: 20px; }
  .field-p-wysiwyg img.align-right {
    margin-left: 20px; }
  .field-p-wysiwyg img.align-left {
    margin-right: 20px; }

.field-p-wysiwyg .pullquote-large {
  font-size: 1.776889em; }

.field-p-responsive-image-cred {
  color: #9c9d9e;
  text-align: right; }

.layout--basic .field--responsive-image,
.layout--basic .field--responsive-video {
  position: relative; }
  .layout--basic .field--responsive-image::after,
  .layout--basic .field--responsive-video::after {
    bottom: 60px; }
  .layout--basic .field--responsive-image img,
  .layout--basic .field--responsive-video img {
    width: 100%;
    max-width: none; }

.lead-text {
  font-size: 20px;
  padding-top: 20px; }
  .lead-text > :last-child {
    margin-bottom: 0; }
  .lead-text > p::first-of-type:first-line {
    position: relative;
    font-size: 1em;
    letter-spacing: normal; }
  .lead-text > p::first-child:first-letter {
    letter-spacing: 0;
    font-size: 3em;
    font-weight: bold;
    float: left;
    margin: 0.13em 0.2em 0 0;
    line-height: 0.7; }

/*# sourceMappingURL=stanford-department.css.map */