@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

.simple-block__link {
  color: color(text-active);

  @include on-event {
    color: inherit;
    text-decoration: none;
  }
}

.simple-block__thumbnail {
  margin-bottom: .5em;
}

.simple-block__content {
  p {
    margin: 0 0 0 0;
  }
}

.simple-block__tag {
  background-color: rgba(0, 0, 0, 0.5);
  padding: .625em 1em;

  h6 {
    color: color(white);
    font-size: em(16px);
    font-weight: 600;
    letter-spacing: .2px;
    line-height: 1;
    margin: 0;
  }
}

.simple-block__description {
  color: color(stone);
  letter-spacing: .5px;
  margin-bottom: 4px;
}

.simple-block__arrow svg {
  margin-left: .5em;

  use {
    fill: color(brand);
  }
}

.simple-block__more {
  font-size: em(12px);
  text-transform: uppercase;
  letter-spacing: .15px;

  @include on-event {
    text-decoration: none;
  }
}
