<a class="skipnav" href="#main-content">Skip to main content</a>
<header id="header" role="banner">
  <div class="nav-container">
    <div class="nav-bar">
      <button class="menu-btn">Menu</button>
      <div class="logo" id="logo">
        <em class="logo-text">
          <a href="#" accesskey="1" title="Home" aria-label="Home">Stanford Earth</a>
        </em>
      </div>
    </div>
    <nav role="navigation" id="nav" class="nav-group">
      <button class="nav-close">
        <img src="/assets/img/close.svg" alt="close">
      </button>
      <ul class="nav-primary">
        <li>
          <a href="#" class="nav-link" aria-expanded="false" aria-controls="side-nav-1">
            Section title
          </a>
          <ul id="side-nav-1" class="nav-submenu">
            <li>
              <a href="#">Subsection title</a>
            </li>
            <li>
              <a href="#">Subsection title</a>
            </li>
            <li>
              <a href="#">Subsection title</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="nav-link" aria-expanded="false" aria-controls="side-nav-1">
            Section title
          </a>
          <ul id="side-nav-1" class="nav-submenu">
            <li>
              <a href="#">Subsection title</a>
            </li>
            <li>
              <a href="#">Subsection title</a>
            </li>
            <li>
              <a href="#">Subsection title</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="nav-link" aria-expanded="false" aria-controls="side-nav-1">
            Section title
          </a>
          <ul id="side-nav-1" class="nav-submenu">
            <li>
              <a href="#">Subsection title</a>
            </li>
            <li>
              <a href="#">Subsection title</a>
            </li>
            <li>
              <a href="#">Subsection title</a>
            </li>
          </ul>
        </li>
      </ul>
      <button type="button" class="search-toggle" aria-expanded="false" aria-controls="nav-search"><i>search</i>
      </button>
    </nav>
  </div>
</header>