<div class="navbar">
  <div class="navbar__container">
    <div class="navbar__inner">
      <button class="navbar__button">
        <span class="navbar__text">menu</span>
        <svg class="i-svg i-svg--menu"><use xlink:href="#i-menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
        <svg class="i-svg i-svg--close"><use xlink:href="#i-close" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
      </button>

      <div class="navbar__group">
        <nav id="navigation" role="navigation">
          <ul class="basic-main-menu menu">
            <li class="menu-item menu-item--collapsed">
              <a href="" class="is-active">About</a>
              <ul class="menu">
                <li class="menu-item">
                  <a href="" target="">About Us</a>
                </li>
                <li class="menu-item">
                  <a href="" target="">Who We Are</a>
                </li>
                <li class="menu-item">
                  <a href="" target="">Departments & Programs</a>
                </li>
                <li class="menu-item">
                  <a href="" target="">Our Community</a>
                </li>
                <li class="menu-item">
                  <a href="" target=""> Contact Us</a>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item--collapsed">
              <a href="" class="is-active">Academics</a>
            </li>
            <li class="menu-item menu-item--collapsed">
              <a href="" class="is-active">Faculty & Research</a>
            </li>
            <li class="menu-item menu-item--collapsed">
              <a href="" class="is-active">News & Events</a>
            </li>
          </ul>
        </nav> 

        <div class="navbar__search">
          <form class="search-toggle">
            <input type="search" placeholder="Search">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
