<div class="navbar">
  <div class="navbar__container">
    <div class="navbar__inner">
      <div class="navbar__search">
        <button type="button" class="search-toggle" aria-expanded="false" aria-controls="nav-search"><span class="search-toggle__text">search</span>
        </button>
      </div>

      <button class="navbar__button">
        <span class="search-toggle__text">menu</span>
      </button>

      <div class="navbar__group">
        <nav id="navigation" role="navigation">
          <ul class="basic-main-menu menu">
            <li class="menu-item menu-item--collapsed">
              <a href="" class="is-active">About</a>
            </li>
            <li class="menu-item menu-item--collapsed">
              <a href="" class="is-active">Acedmics</a>
            </li>
            <li class="menu-item menu-item--collapsed">
              <a href="" class="is-active">Faculty & Research</a>
            </li>
            <li class="menu-item menu-item--collapsed">
              <a href="" class="is-active">News & Events</a>
            </li>
          </ul>
        </nav> 
      </div>
    </div>
  </div>
</div>
