{#
/**
 * @file
 * Matson theme implementation for global brand bar
 */
#}
<div class="brand-bar red">
  <a href="https://www.stanford.edu/">
    <img src="{{ base_path ~ directory }}/img/optimized/header-stanford-logo@2x.png" alt="Stanford University" />
  </a>
  <a class="brand-bar__login" href="{{ base_path }}user">Login with your SUNetID</a>
</div>
<!-- /#global-header -->
