@charset 'UTF-8';

@import 'decanter/core/utilities/decanter-utilities';

// Grab our mixins.
@import 'patterns/utilities/utilities';

.section-photo-mosaic {
  @include grid-container;
  padding: em(58px) 0;

  .photo-mosaic__header {
    width: 100%;
    position: relative;

    @include grid-media($media-md) {
      @include grid-column(12);
    }

    @include grid-media($media-lg) {
      @include grid-column(6);
    }

    @include grid-media($media-xl) {
      padding-right: em(70px);
    }
  }

  .photo-mosaic__container {
    @include grid-column(12);
  }

  .photo-mosaic {
    @include grid-container;
    margin: 0 auto;
    max-width: 460px;

    @include grid-media($media-lg) {
      max-width: 880px;
    }
  }

  .photo-tiles {
    @include grid-media($media-lg) {
      float: left;
    }
  }

  .photo-thumbs {
    position: relative;
  }
}

.photo-mosaic--thumbs-up {
  width: 420px;

  &.photo-tiles .photo-tile {
    &::after {
      right: auto;
      left: 100px;
      top: auto;
      bottom: 100px;
    }
  }

  .photo-thumbs {
    width: 200px;

    @include grid-media($media-lg) {
      margin-top: -110px;
    }
  }

  .photo-thumb {
    position: relative;

    &:nth-child(2) {
      clear: both;
    }

    &:nth-child(3) {
      margin-top: -55px;
      margin-right: 0;
    }

    &:nth-child(4) {
      position: absolute;
      top: 0;
      left: -110px;
    }
  }
}

.photo-mosaic--thumbs-down {
  &.photo-tiles .photo-tile {
    &::after {
      width: 200px;
      top: 50px;
      left: auto;
      right: 50px;

      @include grid-media($media-xl) {
        width: 400px;
      }
    }
  }

  .photo-thumbs {
    margin-top: 55px;

    @include grid-media($media-lg) {
      margin-top: 110px;
    }
  }

  .photo-thumb {
    position: relative;

    &:nth-child(2) {
      margin-top: -50px;
    }

    &:nth-child(4) {
      display: none;
      position: absolute;
      top: 0;
      left: -110px;

      @include grid-media($media-xl) {
        display: block;
      }
    }
  }
}
