@charset 'UTF-8'; // My Config.
@import "config/config"; // Decanter config.
@import "decanter/core/utilities/decanter-utilities"; // Grab our mixins.
@import "utilities/utilities";
$search-input-bg: #6e6f72;

.katria-test {
  background: purple;
}

.search-toggle__icon {
  position: absolute;
  left: 12px;
  top: 12px;

  .i-svg {
    height: em(17px);
    width: em(17px);
    margin-bottom: -2px;

    use {
      fill: color(white);
    }
  }
}

#views-exposed-form-acquia-search-page {
  position: relative;

  input {
    outline: none;
    margin: 13px 0;
  }

  input#edit-reset {
    display: none;
  }

  input[type="submit"] {
    background: $search-input-bg
      url("/themes/stanford/matson/img/source/search-white.svg") no-repeat 9px
      center;
    background-size: 17px 17px;
    box-sizing: border-box;
    border: 0;
    box-shadow: none;
    color: color(white);
    font-family: inherit;
    font-size: 100%;
    padding: 10px 10px 10px 40px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    @include grid-media($header-md) {
      background-color: transparent;
      background-position: center center;
      border: 0;
      width: 0;
    }
  }

  input::-webkit-search-cancel-button,
  input::-webkit-search-decoration {
    display: none;
  }

  input[type="text"]:focus {
    background-color: $search-input-bg;
    border: 0;
    @include grid-media($header-md) {
      background-position: 9px center;
      background-color: $search-input-bg;
      width: 620px;
    }
  }

  input::-moz-placeholder {
    color: color(white);
  }

  input::-webkit-input-placeholder {
    color: color(white);
  }
}

.search-toggle__text {
  @include hide-visually;
}
