@charset 'UTF-8';

@mixin image-overlay($image-overlay-bg-color: rgba(0, 0, 0, 0.35), $image-overlay-position: relative) {
  position: $image-overlay-position;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $image-overlay-bg-color;
    content: '';
    display: block;
  }

  img {
    display: block;
  }
}

@mixin image-banner($image-min-height: 280px) {
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  display: block;
  min-height: $image-min-height;

  @include grid-media($media-md) {
    background-size: cover;
    bottom: 0;
    top: 0;
    width: 100%;
  }

  @include grid-media($media-lg) {
    width: 100%;
  }

}

@mixin image-gradient($image-gradient-bg-color: rgba(0, 0, 0, 0.35)) {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent 35%, $image-gradient-bg-color);
    content: '';
    display: block;
  }

  img {
    display: block;
  }
}

@mixin responsive-video($responsive-video-aspect-ratio: 56.25%, $responsive-video-padding-top: 2em) {
  overflow: hidden;
  position: relative;
  padding-bottom: $responsive-video-aspect-ratio;
  padding-top: $responsive-video-padding-top;
  height: 0;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@mixin image-zoom() {
  overflow: hidden;

  img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  &:hover img {
    -moz-transform: scale(1.1);
   -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  &::before {
    z-index: 1;
  }
}

@mixin cover-image() {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 100%;
  min-width: 100%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
