@charset 'UTF-8';
// Grab our mixins.
@import "utilities/utilities";
@import "components/content-type/content-type";

// Comment out to avoid centering the whole container.
.main-container {
  @include responsive-container($default-container);
  margin-top: 0;
}

.page-title {
  @include padding(0 0);

  h1 {
    font-size: 42px;
  }
}

.page-subtitle {

  h2 {
    font-size: 28px;
  }

  span {
    display: block;
  }
}

.lead-text {
  font-size: 22px;
  margin-bottom: 50px;
}

.block-matson-content {
  color: color(text-active);

  a {
    text-decoration: underline;
  }

  .definition-list {
    margin-bottom: 20px;
  }
}

.content-type-date {
  margin-top: 0;
}

.content-type__timestamp {
  font-size: 22px;
  text-align: right;
  margin-bottom: 40px;
}

.content-type__media-container {
  @include grid-media($media-lg) {
    margin-top: -40px;
    margin-bottom: 70px;
  }

  &.left-align-media,
  &.right-align-media {
    .content-type__header {
      clear: left;
    }

    .content-type__media {
      @include grid-media($media-xl) {
        margin-top: 40px;
      }

      figure,
      picture {
        position: relative;

        &::after {
          @include fullpage-stripe;
          width: 150vw;

          @include grid-media($media-lg) {
            bottom: -40px;
            margin-left: -100vw;
          }
        }
      }
    }
  }
}

// Social icons
.section-events .content-type-date__actions.social-actions {
  height: 50px;
  line-height: 50px;
  margin: 10px auto 20px auto;
  width: 250px;

  @include grid-media($media-lg) {
    margin: 10px 0 20px 0;
  }

}

.email-popup {
  display: inline-block;
  color: color(text-active);
  vertical-align: top;
  border-left: solid 1px color(fog);
  padding-left: 25px;
}
