@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

$nav-active-item-shadow: inset 0 -3px 0 0 rgba(249, 176, 2, 1);

// Navigation styles
.navigation__main-menu {
  margin-bottom: 0;

  .menu {
    @include clearfix;
  }

  ul {
    width: 200px;
    margin: 0 auto;
    padding: 40px 0;

    @include grid-media($header-md) {
      width: auto;
      margin-left: 0;
      margin-bottom: 0;
      padding: 0;
    }

    li:first-child > a {
      border-top: 0;
    }
  }

  li {
    display: block;
    margin-bottom: 0;
    position: relative;

    @include grid-media($header-md) {
      float: left;
      list-style-type: none;
      display: inline-block;
      padding: 0 em(15px);

      &.menu-item--active-trail .parent {
        box-shadow: $nav-active-item-shadow;
      }
    }

    a {
      border-top: 1px solid rgba(255, 255, 255, .5);
      color: color(white);
      display: block;
      font-size: em(14px);
      line-height: 20px;
      letter-spacing: em(2.5px);
      padding: 1em 0;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      z-index: 4;
      position: relative;

      @include on-event {
        @include grid-media($header-md) {
          box-shadow: $nav-active-item-shadow;
        }
      }

      @include grid-media($header-md) {
        border-top: 0;
        border-bottom: 0;
        letter-spacing: em(1.9px);
        padding: 25px 1em;
        text-align: left;
        font-size: em(12px);
      }
    }
  }

  ul ul {
    display: none;
    transition: all .5s ease-out;
    background: rgba(0, 0, 0, .75);
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: -3px;
    width: 100%;
    z-index: 2;

    @include grid-media($header-md) {
      background: rgba(0, 0, 0, .425);
      position: absolute;
      top: calc(100% + 3px);
      left: 0;
      width: 220px;
    }

    li {
      float: none;
      display: block;
    }

    a {
      border-top: 0;
      padding: 1.8em 1em;

      @include on-event {
        box-shadow: none;
      }
    }
  }
}
