{#
/**
 * @file
 * Simple blocks pattern.
 */
#}
{% set attributes = attributes.addClass("simple-blocks") %}
<div{{ attributes }}>
  {# Break up the individual items in to the appropriate template var. #}
  {% for item in items %}
    {% if item.title is not empty %}
      {% set item = item|merge({'context': context}) %}
      {{ pattern('simple_block', item) }}
    {% else %}
      {{ item }}
    {% endif %}
  {% endfor %}
</div>
