@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

.drop-cap-title {
  position: relative;
  display: inline-block;
}

.drop-cap-title__name {
  position: relative;
  z-index: 2;
}

.drop-cap-title__drop-cap {
  position: absolute;
  top: 0;
  left: -.25em;
  font-size: 80px;
  color: darken(color(dust), 5%);
  z-index: 1;

  &.drop-cap--is-centered {
    @include center-transform;
  }
}
