@charset 'UTF-8';
// Grab our mixins.
@import "utilities/utilities";
@import "components/content-type/content-type";

// The expectation of the complex page is that the hero banner will be at the
// top of the page each time a complex page is rendered. A few things have to
// move around to ensure that the banner is in the right place.

.field-s-news-top-media #hero-banner:not(.component-centered-container-margins) {
  margin-top: -170px;

  @include grid-media($header-md) {
    margin-top: -176px;
  }

  .hero-banner__container {
    border: 0;
  }
}

// Text and style
.node--type-stanford_news {
  color: color(text-active);
}

// Top media and Banner caption
.field-s-news-top-media {
  color: color(stone);
  margin-top: 50px;
}

// Title field.
h1 {
  font-size: 42px;
  color: color(text-active)
}


// Author field.
.field-s-news-author {
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;

  @include grid-media($media-lg) {
    padding-left: 110px;
  }
}

// Date field.
.block--field-s-news-date {
  position: relative;
  padding: 10px;
  margin-top: 10px;

  @include grid-media($media-sm) {
    @include grid-column(12 of 12);
    margin-left: 0;
  }

  @include grid-media($media-md) {
    @include grid-column(8 of 12);
    margin-left: 0;
  }

  @include grid-media($media-lg) {
    @include grid-column(7 of 12);
    margin-left: 110px;
  }

  &::after {
    left: 0;
    transform: none;
  }

  // Date icon
  .field--field-s-news-date {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;

    @include grid-media($media-md) {
      width: 40%;
      text-align: left;
    }

    @include grid-media($media-lg) {
      width: 40%;
      text-align: left;
    }

    svg {
      margin-right: .5rem;
      height: 1.6em;
      color: color(action);
    }
  }

  // Social icons
  .field--field-s-news-date__actions {
    height: 50px;
    line-height: 50px;
    margin: 10px auto;

    @include grid-media($media-md) {
      width: 250px;
      display: inline-block;
      margin-bottom: 0;
    }

    @include grid-media($media-lg) {
      width: 50%;
      display: inline-block;
      margin-bottom: 0;
    }
  }

  .field--field-s-news-date__action {
    display: inline-block;
    color: color(text-active);
    vertical-align: top;
  }

  .email-popup {
    border-left: solid 1px color(fog);
    padding-left: 25px;
  }

  svg {
    height: 1.6em;
    vertical-align: middle;
    display: inline;
    margin-top: -3px;
    color: color(action);

    &:hover {
      opacity: .8;
    }
  }
}

// Earth matters field.
.field-earth-matters-topic {
  text-transform: uppercase;

  @include grid-media($media-lg) {
    padding-left: 110px;
  }

  .field-label {
    color: color(action);
    text-decoration: underline;
    display: inline-block;
    margin-right: 1rem;

    &::after {
      content: ": ";
    }
  }

  .field--field-earth-matters-topic {
    display: inline-block;
    margin-right: 5px;

    a {
      text-decoration: underline;
      display: inline-block;
      white-space: nowrap;
      margin-bottom: .5rem;
      font-weight: normal;

      @include grid-media($media-md) {
        margin-bottom: 0;
      }
    }
  }
}

// Category Block.
.field--field-s-news-category {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px 0 0;
}


// Body field.
.field-s-news-summary {
  color: color(text-active);
  font-size: 20px;
  padding-top: 20px;

  @include grid-media($media-lg) {
    @include padding(null 110px);
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.section-news .field--body {
  padding-bottom: 0;
}

// Layout spacing
.layout--basic {
  .field-p-wysiwyg {
    @include grid-media($media-sm) {
      @include padding(0 80px 20px 80px);
    }

    @include grid-media($media-lg) {
      @include padding(null 110px);
    }
  }
}

.video-embed-field-responsive-video {
  position: initial;
}


.field-p-responsive-image,
.field-p-responsive-image-cred,
.field-p-video-url {
  @include grid-media($media-sm) {
    @include padding(0 60px 20px 60px);
  }

  @include grid-media($media-lg) {
    @include padding(null 60px);
  }
}

// Responsive Image
.field--responsive-image picture,
.field--responsive-video,
figure.align-center .figure-container {
  position: relative;
  margin-bottom: 20px;
  display: block;

  &::after {
    @include fullpage-stripe;
  }

  img {
    width: 100%;
    max-width: none;
    margin-bottom: 0;
    display: block;
  }
}

.field-p-wysiwyg {
  h2 {
    @include dash-left-offset;
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
  }
}

.field-p-responsive-image-cred {
  color: color(stone);
  text-align: left;
}

// Simple columns
.simple-columns {
  color: color(text-active);
}

// Highlight card
.highlight-card {
  color: color(text-active);

  h4 {
    font-size: 26px;
  }

  h5 {
    text-transform: uppercase;
  }

  p {
    color: color(stone);
  }

  h5,
  p {
    font-size: 13px;
  }
}

// Editorial Slat
.editorial-sidebar.simple-slat.is-narrow {
  margin: 0;

  .simple-block {
    @include grid-container;
    background-color: color(fog);
    padding: 30px;

    @include grid-media($media-sm) {
      @include margin(0 20px 20px 20px);
      padding-left: 0;
    }

    @include grid-media($media-lg) {
      @include margin(null 110px);
    }
  }

  .simple-block__image {
    margin-bottom: 20px;

    @include grid-media($media-md) {
      margin-bottom: 0;
    }
  }

  .simple-block__title {
    font-size: 32px;
  }

  .simple-block__image-caption {
    color: color(ash);
  }

  .simple-block__description {
    font-size: 20px;
    color: color(text-active);
  }
}

// Source field.
.field-s-news-source {
  position: relative;
  clear: both;
  @include grid-media($media-lg) {
    margin-left: 110px;
  }
}


.field-s-news-rich-content .ptype-stanford-wysiwyg:first-of-type .field-p-wysiwyg {
  // Drop Cap
  > p:first-of-type::first-line {
    position: relative;
    font-size: 1em;
    letter-spacing: normal;
  }

  > p:first-child::first-letter {
    letter-spacing: 0;
    font-size: 3em;
    font-weight: bold;
    float: left;
    margin: 0.13em 0.2em 0 0;
    line-height: 0.7;
  }
}

.subscribe-wrapper {
  margin-top: 10px;

  @include grid-media($media-sm) {
    @include grid-column(12 of 12);
    margin: 10px auto;
  }

  @include grid-media($media-md) {
    @include grid-column(4 of 12);
    margin-left: 30px;
    margin-top: 20px;
  }
  @include grid-media($media-lg) {
    @include grid-column(3 of 12);
    margin-left: 30px;
  }

  a {
    display: block;
    text-transform: capitalize;
  }

  span {
    display: block;
    font-weight: bold;
    font-size: em(18px);
    line-height: 16px;
  }

  .button {
    border: 0;
    padding: 2px;
  }

  .sup,
  .suf {
    font-size: em(12px);
  }
}
