@charset 'UTF-8';
@import "utilities/mixins/hero-banner-node";
// Grab our mixins.
@import "utilities/utilities";

// The expectation of the complex page is that the hero banner will be at the
// top of the page each time a complex page is rendered. A few things have to
// move around to ensure that the banner is in the right place.

// Pop out the tabs from the dom flow so they hover over.
@include hero-banner-node;

// Text and style
.node--type-stanford_news {
  color: color(text-active);
}

// Top media and Banner caption
.field-s-news-top-media {
  color: color(ash);
  margin-top: 50px;
}

// Title field.
h1 {
  font-size: 42px;
}

// Subtitle field.
.block--field-s-news-sub-title {
  margin-bottom: 20px;

  @include grid-media($media-sm) {
    max-width: 75%;
  }

  h2 {
    font-size: 28px;
  }
}

// Author field.
.block--field-s-news-author {
  text-transform: uppercase;

  @include grid-media($media-lg) {
    padding-left: 110px;
  }
}

// Date field.
.block--field-s-news-date {
  @include dash-under;
  position: relative;

  @include grid-media($media-md) {
    float: left;
  }

  @include grid-media($media-lg) {
    margin-left: 110px;
  }

  &::after {
    left: 0;
    transform: none;
  }

  // Date icon
  .field--field-s-news-date {
    display: inline-block;

    svg {
      margin-right: .5rem;
    }
  }

  // Social icons
  .field--field-s-news-date__actions {
    display: inline-block;
    padding-right: 5px;
    border-left: 1px solid color(fog);
    margin-left: .75rem;
    padding-left: .25rem;
  }

  .field--field-s-news-date__action {
    display: inline-block;
    padding: 0 5px;
    color: color(text-active);
  }

  svg {
    height: 13px;
    vertical-align: middle;
    display: inline;
    margin-top: -3px;
  }
}

// Earth matters field.
.block--field-earth-matters-topic {
  @include grid-media($media-md) {
    float: right;
  }

  .field-label {
    color: color(action);
    text-decoration: underline;
    display: inline-block;
    margin-right: 1rem;

    &::after {
      content: ": ";
    }
  }

  .field--field-earth-matters-topic {
    display: inline;

    a {
      @include tag($tag-font-size: 14px, $tag-padding: 10px);
      display: inline-block;
      white-space: nowrap;
      margin-bottom: .5rem;
      font-weight: normal;

      @include grid-media($media-md) {
        margin-bottom: 0;
      }
    }
  }
}

// Category Block.
.block--field-s-news-category {
  .field--field-s-news-category {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 10px 0 0;
  }
}

// Body field.
.field--body {
  font-size: 20px;
  padding-top: 20px;

  @include grid-media($media-sm) {
    @include padding(40px 80px 20px);
  }

  @include grid-media($media-lg) {
    @include padding(null 110px);
  }

  > :last-child {
    margin-bottom: 0;
  }

  // Drop Cap
  > p:first-of-type:first-line {
    position: relative;
    font-size: 1em;
    letter-spacing: normal;
  }

  > p:first-child:first-letter {
    letter-spacing: 0;
    font-size: 3em;
    font-weight: bold;
    float: left;
    margin: 0.13em 0.2em 0 0;
    line-height: 0.7;
  }
}

// Content styles
.field-p-wysiwyg {
  > :last-child {
    margin-bottom: 0;
  }

  h2 {
    @include dash-left-offset;
    margin-bottom: 20px;
  }

  blockquote {
    // p {
    //   font-size: 20px;
    // }
  }

  blockquote + h1,
  blockquote + h2,
  blockquote + h3,
  blockquote + h4,
  blockquote + h5,
  blockquote + h6, {
    margin-top: modular-scale(0);
  }

  p + h2 {
    margin-top: 50px;
  }

  p {
    margin-bottom: 30px;
  }

  // Floated images
  figure {
    display: table;
    margin-bottom: 30px;

    &.align-right {
      margin-left: 30px;
      img {
        
      }
    }

    &.align-left {
      margin-right: 30px;
      img {
        
      }
    }
  }

  figcaption {
    display: table-caption;
    caption-side: bottom;
    color: color(ash);
    text-align: right;
  }

  img {
    margin-bottom: 20px;

    &.align-right {
      margin-left: 20px;
    }

    &.align-left {
      margin-right: 20px;
    }
  }
}

// Layout spacing
.layout--basic {
  .field-p-wysiwyg {
    @include grid-media($media-sm) {
      @include padding(0 80px 20px 80px);
    }

    @include grid-media($media-lg) {
      @include padding(null 110px);
    }
  }
}

.field-p-responsive-image,
.field-p-responsive-image-cred,
.field-p-video-url {
  @include grid-media($media-sm) {
    @include padding(0 60px 20px 60px);
  }

  @include grid-media($media-lg) {
    @include padding(null 60px);
  }
}

// Responsive Image
.field--responsive-image picture,
.field--responsive-video,
figure.align-center .figure-container {
  position: relative;
  margin-bottom: 20px;
  display: block;

  &::after {
    @include fullpage-stripe;
  }

  img {
    width: 100%;
    max-width: none;
    margin-bottom: 0;
    display: block;
  }
}

.field-p-responsive-image-cred {
  color: color(ash);
  text-align: right;
}


// Simple columns
.simple-columns {
  color: color(text-active);
}

// Highlight card
.highlight-card {
  color: color(text-active);

  h4 {
    font-size: 26px;
  }

  h5 {
    text-transform: uppercase;
  }

  p {
    color: color(ash);
  }

  h5,
  p {
    font-size: 13px;
  }
}

// Editorial Slat
.editorial-sidebar.simple-slat.is-narrow {
  margin: 0;

  .simple-block {
    @include grid-container;
    background-color: color(dust);
    padding: 30px;

    @include grid-media($media-sm) {
      @include margin(0 20px 20px 20px);
      padding-left: 0;
    }

    @include grid-media($media-lg) {
      @include margin(null 110px);
    }
  }

  .simple-block__image {
    margin-bottom: 20px;

    @include grid-media($media-md) {
      margin-bottom: 0;
    }
  }

  .simple-block__title {
    font-size: 32px;
  }

  .simple-block__image-caption {
    color: color(ash);
  }

  .simple-block__description {
    font-size: 20px;
    color: color(text-active);
  }
}

.ptype-stanford-video,
.field-s-news-top-media {
  #hero-banner:first-child:not(.component-centered-container-margins) {
    margin-top: 0
  }

  .hero-banner {
    @include responsive-container($default-container);
  }

  .hero-banner__container {
    border: none;
  }
}