@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

// Position the first filmstrip component on the homepage to
// overlay the hero image.

#filmstrip {
  .filmstrip__cards {
    max-width: 1190px;
  }

  h6 {
    &.filmstrip__title {
      max-width: 1190px;
      margin: 12px auto 17px;
    }
  }
}

// Remove default margin from hero banner.
#hero-banner:first-child:not(.component-centered-container-margins) {
  margin-bottom: 0;
}

// Adjust the highlight banner component so that the card
// overlays the entire container.

.section-highlight-banner {
  @include grid-media($media-sm-only) {
    padding-bottom: 30px;
  }
}

.highlight-banner__container {
  top: -15px;

  @include grid-media($media-md) {
    top: -35px;
  }

  .highlight-card {
    @include grid-media($media-md) {
      margin-bottom: -50px;
    }
  }
}

.section-highlight-banner {
  padding: 0;
  margin-bottom: em(58px);
}
