@import "../../../stanford_basic/scss/components/sidebar/sidebar";
@import "config/config";
//// Decanter config.
@import 'decanter/core/utilities/decanter-utilities';
// Grab our mixins.
@import "utilities/utilities";

body.with-banner {
  header {
    min-height: 14px;

    #block-matson-branding {
      position: absolute;
      padding: 20px;
      left: 128px;
      width: 170px;
      //height: 660px;
      background: rgba(color(black), 0.5);

      .block--lockup__site-logo-wrapper {
        margin-top: 154px;
        //@include center-transform(y);
      }
    }
  }
}

// For some reason you need greater min-height for anonymous users.  I don't
// know why, but the code works.
body.role--anonymous header {
  min-height: 28px;
}

#sidebar__wrapper {
  left: 128px;
  width: 170px;
  //top: 780px;

  h2 {
    color: color(white);
    background: color(action);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3.9px;
    font-weight: 700;
  }

  ul li {
    margin-bottom: 10px;

    a {
      color: color(text-active);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      line-height: 0;
    }
  }
}
