{#
/**
 * @file
 * Section Quote Banner pattern.
 */
#}
{% set attributes = attributes.addClass("section-quote-banner") %}
{% set paragraph_id = 'paraID' ~ random() %}
{% set attributes = attributes.setAttribute('id', paragraph_id) %}
{% set attributes = attributes.addClass('lazy-background') %}

<style>
  #{{ paragraph_id}}.visible {background-image:url('{{~ image|get_img_src ~}}')};
</style>
<div{{ attributes }}>
  {%  set quote_vars = {
    'quote': quote,
    'name': name,
    'title': title,
    'image': quote_image,
    'context': context
  } %}
  {{ pattern('quote_card', quote_vars) }}
</div>
