@charset 'UTF-8';
// Grab our mixins.
@import "utilities/utilities";
@import "components/content-type/content-type";

// Comment out to avoid centering the whole container.
.main-container {
  @include responsive-container($default-container);
  margin-bottom: 80px;
}

.page-title {
  @include padding(0 0);

  h1 {
    font-size: 42px;
  }
}

.page-subtitle {

  h2 {
    font-size: 28px;
  }

  span {
    display: block;
  }
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  color: color(ash);
  text-align: right;
}

.lead-text {
  @include drop-cap-inline;
  font-size: 22px;
  margin-bottom: 50px;
}

.block-matson-content {
  color: color(text-active);

  @include grid-media($media-lg) {
    @include margin(null 100px);
  }

  a {
    text-decoration: underline;
  }
}

.content-type__media-container {

  &.left-align-media,
  &.right-align-media {

    .content-type__header {
      &::after {
        clear: none;
        @include grid-media($media-lg) {
          left: 0;
        }
      }
    }

    .content-type__media {
      figure,
      picture {
        position: relative;

        //&::after {
        //  @include fullpage-stripe;
        //  width: 150vw;
        //}
      }
    }
  }

  &.right-align-media {
    .content-type__media {
      figure,
      picture {
        &::after {
          margin-left: -100vw;
          width: 150vw;
        }
      }
    }
  }

  &.is-wide {
    @include grid-media($media-lg) {
      margin-top: 50px;
      outline: 2px solid #4d4f53;
      outline-offset: 30px;
    }
  }
}

.content-type-content {
  > .layout--basic {
    padding: 0;
  }
}
