.color-brand {
  color: #8c1515; }

.color-action {
  color: #017c92; }

.color-action-active {
  color: #016779; }

.color-background {
  color: #fff; }

.color-background-secondary {
  color: #f4f4f4; }

.color-border {
  color: #ccc; }

.color-text {
  color: #222328; }

.color-text-active {
  color: #4d4f53; }

.color-reverse-text {
  color: #fff; }

.color-reverse-text-active {
  color: #ffcdcd; }

.color-bright-red {
  color: #B1040E; }

.color-dark-red {
  color: #8c1414; }

.color-black {
  color: #000; }

.color-charcoal {
  color: #222328; }

.color-stone {
  color: #4d4f53; }

.color-ash {
  color: #9c9d9e; }

.color-fog {
  color: #dad7cb; }

.color-mist {
  color: #FEFEFE; }

.color-white {
  color: #fff; }

.color-emphasis {
  color: #f9b002; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.sr-only-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: .1px;
  height: .1px; }

.sr-only-element {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(1% at 1% 1%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.keep-together {
  white-space: nowrap; }

.color-brand {
  color: #8c1515; }

.color-action {
  color: #017c92; }

.color-action-active {
  color: #016779; }

.color-background {
  color: #fff; }

.color-background-secondary {
  color: #f4f4f4; }

.color-border {
  color: #ccc; }

.color-text {
  color: #222328; }

.color-text-active {
  color: #4d4f53; }

.color-reverse-text {
  color: #fff; }

.color-reverse-text-active {
  color: #ffcdcd; }

.color-bright-red {
  color: #B1040E; }

.color-dark-red {
  color: #8c1414; }

.color-black {
  color: #000; }

.color-charcoal {
  color: #222328; }

.color-stone {
  color: #4d4f53; }

.color-ash {
  color: #9c9d9e; }

.color-fog {
  color: #dad7cb; }

.color-mist {
  color: #FEFEFE; }

.color-white {
  color: #fff; }

.color-emphasis {
  color: #f9b002; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.sr-only-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: .1px;
  height: .1px; }

.sr-only-element {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(1% at 1% 1%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.keep-together {
  white-space: nowrap; }

.block--lockup {
  display: table; }
  @media only screen and (max-width: 575px) {
    .block--lockup {
      padding: 1em calc(((50% /12) * 0) + 20px); }
      .block--lockup::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .block--lockup {
      padding: 1em calc(((50% /12) * 0) + 20px); }
      .block--lockup::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .block--lockup {
      padding: 1em calc(((50% /12) * 0) + 40px); }
      .block--lockup::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1024px) and (max-width: 1499px) {
    .block--lockup {
      padding: 1em calc(((50% /12) * 0) + 40px); }
      .block--lockup::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1500px) {
    .block--lockup {
      padding: 1em calc(50% - (750px - 60px)); }
      .block--lockup::after {
        clear: both;
        content: "";
        display: block; } }
  @media only print {
    .block--lockup {
      padding: 1em calc(((50% /12) * 0) + 0.25in); }
      .block--lockup::after {
        clear: both;
        content: "";
        display: block; } }
  .block--lockup .block-grid-collapse {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px); }

.block--lockup__site-logo-wrapper {
  display: table-cell;
  vertical-align: bottom;
  border-right: 1px solid #000;
  padding-right: 10px;
  line-height: .8em; }
  .block--lockup__site-logo-wrapper .block--lockup__site-logo {
    width: auto; }
    .block--lockup__site-logo-wrapper .block--lockup__site-logo img {
      width: 180px;
      max-width: 180px; }

.block--lockup__site-name-and-slogan {
  display: table-cell;
  padding-left: 10px;
  vertical-align: bottom; }
  .block--lockup__site-name-and-slogan a {
    color: #222328;
    font-size: 1.8em;
    display: block;
    margin-bottom: -11px; }
    .block--lockup__site-name-and-slogan a:hover, .block--lockup__site-name-and-slogan afocus {
      text-decoration: none; }

.block--lockup__site-name {
  font-size: 2.3846153846em; }
  .block--lockup__site-name a,
  .block--lockup__site-name a:link,
  .block--lockup__site-name a:visited {
    color: #222328; }
  .block--lockup__site-name a:hover {
    text-decoration: none; }

.block--lockup__site-slogan {
  color: #222328;
  font-size: 1.3em;
  font-style: italic;
  margin: 0;
  padding: 0;
  width: 100%;
  clear: both; }

.color-brand {
  color: #8c1515; }

.color-action {
  color: #017c92; }

.color-action-active {
  color: #016779; }

.color-background {
  color: #fff; }

.color-background-secondary {
  color: #f4f4f4; }

.color-border {
  color: #ccc; }

.color-text {
  color: #222328; }

.color-text-active {
  color: #4d4f53; }

.color-reverse-text {
  color: #fff; }

.color-reverse-text-active {
  color: #ffcdcd; }

.color-bright-red {
  color: #B1040E; }

.color-dark-red {
  color: #8c1414; }

.color-black {
  color: #000; }

.color-charcoal {
  color: #222328; }

.color-stone {
  color: #4d4f53; }

.color-ash {
  color: #9c9d9e; }

.color-fog {
  color: #dad7cb; }

.color-mist {
  color: #FEFEFE; }

.color-white {
  color: #fff; }

.color-emphasis {
  color: #f9b002; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.sr-only-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: .1px;
  height: .1px; }

.sr-only-element {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(1% at 1% 1%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.keep-together {
  white-space: nowrap; }

@media only screen and (max-width: 575px) {
  .breadcrumb {
    padding: 1em calc(((50% /12) * 0) + 20px); }
    .breadcrumb::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .breadcrumb {
    padding: 1em calc(((50% /12) * 0) + 20px); }
    .breadcrumb::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .breadcrumb {
    padding: 1em calc(((50% /12) * 0) + 40px); }
    .breadcrumb::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .breadcrumb {
    padding: 1em calc(((50% /12) * 0) + 40px); }
    .breadcrumb::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 1500px) {
  .breadcrumb {
    padding: 1em calc(50% - (750px - 60px)); }
    .breadcrumb::after {
      clear: both;
      content: "";
      display: block; } }

@media only print {
  .breadcrumb {
    padding: 1em calc(((50% /12) * 0) + 0.25in); }
    .breadcrumb::after {
      clear: both;
      content: "";
      display: block; } }

.breadcrumb li {
  list-style-type: none;
  display: inline-block; }

.color-brand {
  color: #8c1515; }

.color-action {
  color: #017c92; }

.color-action-active {
  color: #016779; }

.color-background {
  color: #fff; }

.color-background-secondary {
  color: #f4f4f4; }

.color-border {
  color: #ccc; }

.color-text {
  color: #222328; }

.color-text-active {
  color: #4d4f53; }

.color-reverse-text {
  color: #fff; }

.color-reverse-text-active {
  color: #ffcdcd; }

.color-bright-red {
  color: #B1040E; }

.color-dark-red {
  color: #8c1414; }

.color-black {
  color: #000; }

.color-charcoal {
  color: #222328; }

.color-stone {
  color: #4d4f53; }

.color-ash {
  color: #9c9d9e; }

.color-fog {
  color: #dad7cb; }

.color-mist {
  color: #FEFEFE; }

.color-white {
  color: #fff; }

.color-emphasis {
  color: #f9b002; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.sr-only-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: .1px;
  height: .1px; }

.sr-only-element {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(1% at 1% 1%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.keep-together {
  white-space: nowrap; }

.menu--main {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 575px) {
    .menu--main {
      padding: 1em calc(((50% /12) * 0) + 20px); }
      .menu--main::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .menu--main {
      padding: 1em calc(((50% /12) * 0) + 20px); }
      .menu--main::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .menu--main {
      padding: 1em calc(((50% /12) * 0) + 40px); }
      .menu--main::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1024px) and (max-width: 1499px) {
    .menu--main {
      padding: 1em calc(((50% /12) * 0) + 40px); }
      .menu--main::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1500px) {
    .menu--main {
      padding: 1em calc(50% - (750px - 60px)); }
      .menu--main::after {
        clear: both;
        content: "";
        display: block; } }
  @media only print {
    .menu--main {
      padding: 1em calc(((50% /12) * 0) + 0.25in); }
      .menu--main::after {
        clear: both;
        content: "";
        display: block; } }
  .menu--main ul {
    margin: 0 0 -1em 0; }
  .menu--main li {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px; }
  .menu--main a {
    display: inline-block;
    font-size: 1.3846153846em;
    padding-bottom: 20px;
    font-weight: 400;
    color: #8c1515; }
  .menu--main a:hover,
  .menu--main a.is-active,
  .menu--main .menu-item--active-trail a {
    text-decoration: none;
    color: #000;
    border-bottom: solid 3px #000; }

.color-brand {
  color: #8c1515; }

.color-action {
  color: #017c92; }

.color-action-active {
  color: #016779; }

.color-background {
  color: #fff; }

.color-background-secondary {
  color: #f4f4f4; }

.color-border {
  color: #ccc; }

.color-text {
  color: #222328; }

.color-text-active {
  color: #4d4f53; }

.color-reverse-text {
  color: #fff; }

.color-reverse-text-active {
  color: #ffcdcd; }

.color-bright-red {
  color: #B1040E; }

.color-dark-red {
  color: #8c1414; }

.color-black {
  color: #000; }

.color-charcoal {
  color: #222328; }

.color-stone {
  color: #4d4f53; }

.color-ash {
  color: #9c9d9e; }

.color-fog {
  color: #dad7cb; }

.color-mist {
  color: #FEFEFE; }

.color-white {
  color: #fff; }

.color-emphasis {
  color: #f9b002; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.sr-only-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: .1px;
  height: .1px; }

.sr-only-element {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(1% at 1% 1%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.keep-together {
  white-space: nowrap; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#footer__global-footer {
  background-color: #B1040E;
  color: #fff;
  width: 100%; }
  @media only screen and (max-width: 575px) {
    #footer__global-footer {
      padding: 1em calc(((50% /12) * 0) + 20px); }
      #footer__global-footer::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    #footer__global-footer {
      padding: 1em calc(((50% /12) * 0) + 20px); }
      #footer__global-footer::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #footer__global-footer {
      padding: 1em calc(((50% /12) * 0) + 40px); }
      #footer__global-footer::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1024px) and (max-width: 1499px) {
    #footer__global-footer {
      padding: 1em calc(((50% /12) * 0) + 40px); }
      #footer__global-footer::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1500px) {
    #footer__global-footer {
      padding: 1em calc(50% - (750px - 60px)); }
      #footer__global-footer::after {
        clear: both;
        content: "";
        display: block; } }
  @media only print {
    #footer__global-footer {
      padding: 1em calc(((50% /12) * 0) + 0.25in); }
      #footer__global-footer::after {
        clear: both;
        content: "";
        display: block; } }
  #footer__global-footer a {
    color: #fff; }
  #footer__global-footer .su-brand {
    padding-top: 0.15em;
    line-height: 0.75; }
    #footer__global-footer .su-brand:hover, #footer__global-footer .su-brand:active, #footer__global-footer .su-brand:focus {
      text-decoration: none; }
  #footer__global-footer #global-footer__brand {
    display: block;
    float: left; }
    @media only screen and (max-width: 575px) {
      #footer__global-footer #global-footer__brand {
        margin-right: 20px;
        width: 10rem; } }
    @media only screen and (min-width: 576px) {
      #footer__global-footer #global-footer__brand {
        margin-right: 20px;
        width: 12rem;
        max-height: 70px; } }
    @media only screen and (min-width: 1024px) and (max-width: 1499px) {
      #footer__global-footer #global-footer__brand {
        margin-right: 40px; } }
    @media only screen and (min-width: 1500px) {
      #footer__global-footer #global-footer__brand {
        margin-right: 60px; } }
  #footer__global-footer #global-footer__nav {
    color: #fff;
    display: block;
    font-weight: 300; }
    #footer__global-footer #global-footer__nav #nav__global-links {
      font-size: 1.2307692308em;
      margin-bottom: 0.25em; }
      #footer__global-footer #global-footer__nav #nav__global-links a {
        margin-right: 1.5em; }
    #footer__global-footer #global-footer__nav #nav__policy-links {
      font-size: 1em; }
      #footer__global-footer #global-footer__nav #nav__policy-links a {
        margin-right: 1.2em; }
    #footer__global-footer #global-footer__nav a {
      display: inline-block; }
      @media only screen and (max-width: 575px) {
        #footer__global-footer #global-footer__nav a {
          display: block;
          width: 15rem;
          margin: 0 auto; } }
  #footer__global-footer #global-footer__info .vcard {
    font-size: 1em;
    font-weight: 300; }
    #footer__global-footer #global-footer__info .vcard .adr {
      margin-left: 0.3750937734em;
      margin-right: 0.3750937734em; }
  #footer__global-footer .termsofuse {
    font-size: 1em;
    font-weight: 300; }
    #footer__global-footer .termsofuse > * {
      white-space: nowrap; }
    #footer__global-footer .termsofuse :first-child {
      margin-right: 0.3750937734em; }

@media (max-width: 767px) {
  #footer__global-footer #global-footer__brand {
    float: none;
    margin: 0 auto 1em; }
  #footer__global-footer #global-footer__nav {
    display: inline-block;
    overflow: hidden;
    text-align: left; }
    #footer__global-footer #global-footer__nav #nav__global-links {
      margin-right: 30px; }
    #footer__global-footer #global-footer__nav #nav__global-links,
    #footer__global-footer #global-footer__nav #nav__policy-links {
      float: left;
      font-size: 1.2307692308em;
      margin-bottom: .5em; }
      #footer__global-footer #global-footer__nav #nav__global-links a,
      #footer__global-footer #global-footer__nav #nav__policy-links a {
        display: block;
        margin-bottom: .5em; }
  #footer__global-footer #global-footer__info {
    clear: both;
    text-align: center; } }

#navigation li {
  list-style-type: none;
  display: inline-block; }

.pager__item {
  display: inline; }
  .pager__item a {
    display: inline-block; }

.color-brand {
  color: #8c1515; }

.color-action {
  color: #017c92; }

.color-action-active {
  color: #016779; }

.color-background {
  color: #fff; }

.color-background-secondary {
  color: #f4f4f4; }

.color-border {
  color: #ccc; }

.color-text {
  color: #222328; }

.color-text-active {
  color: #4d4f53; }

.color-reverse-text {
  color: #fff; }

.color-reverse-text-active {
  color: #ffcdcd; }

.color-bright-red {
  color: #B1040E; }

.color-dark-red {
  color: #8c1414; }

.color-black {
  color: #000; }

.color-charcoal {
  color: #222328; }

.color-stone {
  color: #4d4f53; }

.color-ash {
  color: #9c9d9e; }

.color-fog {
  color: #dad7cb; }

.color-mist {
  color: #FEFEFE; }

.color-white {
  color: #fff; }

.color-emphasis {
  color: #f9b002; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.sr-only-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: .1px;
  height: .1px; }

.sr-only-element {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(1% at 1% 1%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.keep-together {
  white-space: nowrap; }

.brand-bar {
  height: 40px;
  max-height: 40px;
  color: #fff;
  background: #8c1515;
  position: relative;
  order: -100; }
  @media only screen and (max-width: 575px) {
    .brand-bar {
      padding: 1em calc(((50% /12) * 0) + 20px); }
      .brand-bar::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .brand-bar {
      padding: 1em calc(((50% /12) * 0) + 20px); }
      .brand-bar::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .brand-bar {
      padding: 1em calc(((50% /12) * 0) + 40px); }
      .brand-bar::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1024px) and (max-width: 1499px) {
    .brand-bar {
      padding: 1em calc(((50% /12) * 0) + 40px); }
      .brand-bar::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1500px) {
    .brand-bar {
      padding: 1em calc(50% - (750px - 60px)); }
      .brand-bar::after {
        clear: both;
        content: "";
        display: block; } }
  @media only print {
    .brand-bar {
      padding: 1em calc(((50% /12) * 0) + 0.25in); }
      .brand-bar::after {
        clear: both;
        content: "";
        display: block; } }
  .brand-bar a {
    color: #fff; }
    .brand-bar a:first-child {
      display: inline-block;
      width: 123px; }
      @media only screen and (min-width: 576px) {
        .brand-bar a:first-child {
          width: 153px; } }
  .brand-bar .brand-bar__login {
    float: right;
    font-size: 0.9230769231em;
    font-weight: 600; }

.color-brand {
  color: #8c1515; }

.color-action {
  color: #017c92; }

.color-action-active {
  color: #016779; }

.color-background {
  color: #fff; }

.color-background-secondary {
  color: #f4f4f4; }

.color-border {
  color: #ccc; }

.color-text {
  color: #222328; }

.color-text-active {
  color: #4d4f53; }

.color-reverse-text {
  color: #fff; }

.color-reverse-text-active {
  color: #ffcdcd; }

.color-bright-red {
  color: #B1040E; }

.color-dark-red {
  color: #8c1414; }

.color-black {
  color: #000; }

.color-charcoal {
  color: #222328; }

.color-stone {
  color: #4d4f53; }

.color-ash {
  color: #9c9d9e; }

.color-fog {
  color: #dad7cb; }

.color-mist {
  color: #FEFEFE; }

.color-white {
  color: #fff; }

.color-emphasis {
  color: #f9b002; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.sr-only-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: .1px;
  height: .1px; }

.sr-only-element {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(1% at 1% 1%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.keep-together {
  white-space: nowrap; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.hero-banner.has-tint::before, .hero-banner__container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.hero-banner {
  background-color: #222328;
  background-size: cover;
  position: relative; }
  .hero-banner.has-tint::before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.35); }

.hero-banner__inner {
  position: relative;
  margin: 0 auto;
  min-height: 500px; }
  .hero-banner__inner::after {
    clear: both;
    content: "";
    display: block; }
  @media only screen and (min-width: 768px) {
    .hero-banner__inner {
      min-height: 300px; } }
  @media only screen and (min-width: 1024px) {
    .hero-banner__inner {
      min-height: 400px; } }
  @media (min-width: 1500px) {
    .hero-banner__inner {
      max-width: 1380px; } }
  @media only screen and (min-width: 768px) {
    .hero-banner__inner.is-tall {
      min-height: 500px; } }
  @media only screen and (min-width: 1024px) {
    .hero-banner__inner.is-tall {
      min-height: 660px; } }

.hero-banner__container {
  border: 1px solid #fff;
  margin-top: 90px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px; }
  @media only screen and (min-width: 768px) {
    .hero-banner__container {
      margin-left: 40px;
      margin-right: 40px; } }
  @media (min-width: 1500px) {
    .hero-banner__container {
      margin-left: 0;
      margin-right: 0; } }

.hero-banner__header {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
  position: absolute;
  top: 50%;
  margin-top: auto;
  margin-bottom: auto;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  letter-spacing: .5px;
  text-align: center;
  width: 80%; }
  @media only screen and (min-width: 768px) {
    .hero-banner__header {
      width: 50%; } }
  @media only screen and (min-width: 1024px) {
    .hero-banner__header {
      width: 25%; } }
  @media only screen and (min-width: 768px) {
    .hero-banner__header.is-right {
      position: absolute;
      top: 50%;
      margin-top: auto;
      margin-bottom: auto;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: right;
      right: 0;
      left: auto;
      margin-left: 0;
      margin-right: 60px;
      width: 50%; }
      .hero-banner__header.is-right h1 {
        position: relative;
        padding-right: 40px; }
        .hero-banner__header.is-right h1::after {
          background-color: #fff;
          content: "";
          position: absolute;
          right: 0;
          bottom: .5em;
          height: 2px;
          width: 30px; } }
  @media only screen and (min-width: 1024px) {
    .hero-banner__header.is-right {
      margin-right: 100px; } }
  .hero-banner__header p {
    line-height: 2; }
  .hero-banner__header .cite {
    font-size: 0.7692307692em;
    padding-top: 2em;
    margin-bottom: 1em;
    opacity: 0.8; }

/*# sourceMappingURL=components.css.map */