.color-brand {
  color: #8c1515; }

.color-action {
  color: #017c92; }

.color-action-active {
  color: #016779; }

.color-background {
  color: #fff; }

.color-background-secondary {
  color: #f4f4f4; }

.color-border {
  color: #ccc; }

.color-text {
  color: #222328; }

.color-text-active {
  color: #4d4f53; }

.color-reverse-text {
  color: #fff; }

.color-reverse-text-active {
  color: #ffcdcd; }

.color-bright-red {
  color: #b1040e; }

.color-dark-red {
  color: #8c1414; }

.color-light-red {
  color: #e3dfd5; }

.color-black {
  color: #000; }

.color-charcoal {
  color: #222328; }

.color-stone {
  color: #4d4f53; }

.color-steel {
  color: #6e6f72; }

.color-ash {
  color: #9c9d9e; }

.color-fog {
  color: #dad7cb; }

.color-mist {
  color: #FEFEFE; }

.color-white {
  color: #fff; }

.color-emphasis {
  color: #f9b002; }

.color-brand {
  color: #8c1515; }

.color-action {
  color: #017c92; }

.color-action-active {
  color: #016779; }

.color-background {
  color: #fff; }

.color-background-secondary {
  color: #f4f4f4; }

.color-border {
  color: #ccc; }

.color-text {
  color: #222328; }

.color-text-active {
  color: #4d4f53; }

.color-reverse-text {
  color: #fff; }

.color-reverse-text-active {
  color: #ffcdcd; }

.color-bright-red {
  color: #b1040e; }

.color-dark-red {
  color: #8c1414; }

.color-light-red {
  color: #e3dfd5; }

.color-black {
  color: #000; }

.color-charcoal {
  color: #222328; }

.color-stone {
  color: #4d4f53; }

.color-steel {
  color: #6e6f72; }

.color-ash {
  color: #9c9d9e; }

.color-fog {
  color: #dad7cb; }

.color-mist {
  color: #FEFEFE; }

.color-white {
  color: #fff; }

.color-emphasis {
  color: #f9b002; }

@media only screen and (max-width: 575px) {
  .breadcrumb {
    padding: 1em calc(((50% /12) * 0) + 20px); }
    .breadcrumb::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .breadcrumb {
    padding: 1em calc(((50% /12) * 0) + 20px); }
    .breadcrumb::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .breadcrumb {
    padding: 1em calc(((50% /12) * 0) + 40px); }
    .breadcrumb::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .breadcrumb {
    padding: 1em calc(((50% /12) * 0) + 40px); }
    .breadcrumb::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 1500px) {
  .breadcrumb {
    padding: 1em calc(50% - (750px - 60px)); }
    .breadcrumb::after {
      clear: both;
      content: "";
      display: block; } }

@media only print {
  .breadcrumb {
    padding: 1em calc(((50% /12) * 0) + 0.25in); }
    .breadcrumb::after {
      clear: both;
      content: "";
      display: block; } }

.breadcrumb li {
  list-style-type: none;
  display: inline-block; }

.pager__item {
  display: inline; }
  .pager__item a {
    display: inline-block; }

.color-brand {
  color: #8c1515; }

.color-action {
  color: #017c92; }

.color-action-active {
  color: #016779; }

.color-background {
  color: #fff; }

.color-background-secondary {
  color: #f4f4f4; }

.color-border {
  color: #ccc; }

.color-text {
  color: #222328; }

.color-text-active {
  color: #4d4f53; }

.color-reverse-text {
  color: #fff; }

.color-reverse-text-active {
  color: #ffcdcd; }

.color-bright-red {
  color: #b1040e; }

.color-dark-red {
  color: #8c1414; }

.color-light-red {
  color: #e3dfd5; }

.color-black {
  color: #000; }

.color-charcoal {
  color: #222328; }

.color-stone {
  color: #4d4f53; }

.color-steel {
  color: #6e6f72; }

.color-ash {
  color: #9c9d9e; }

.color-fog {
  color: #dad7cb; }

.color-mist {
  color: #FEFEFE; }

.color-white {
  color: #fff; }

.color-emphasis {
  color: #f9b002; }

.brand-bar {
  height: 40px;
  max-height: 40px;
  color: #fff;
  background: #8c1515;
  position: relative;
  order: -100; }
  @media only screen and (max-width: 575px) {
    .brand-bar {
      padding: 1em calc(((50% /12) * 0) + 20px); }
      .brand-bar::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .brand-bar {
      padding: 1em calc(((50% /12) * 0) + 20px); }
      .brand-bar::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .brand-bar {
      padding: 1em calc(((50% /12) * 0) + 40px); }
      .brand-bar::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1024px) and (max-width: 1499px) {
    .brand-bar {
      padding: 1em calc(((50% /12) * 0) + 40px); }
      .brand-bar::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1500px) {
    .brand-bar {
      padding: 1em calc(50% - (750px - 60px)); }
      .brand-bar::after {
        clear: both;
        content: "";
        display: block; } }
  @media only print {
    .brand-bar {
      padding: 1em calc(((50% /12) * 0) + 0.25in); }
      .brand-bar::after {
        clear: both;
        content: "";
        display: block; } }
  .brand-bar a {
    color: #fff; }
    .brand-bar a:first-child {
      display: inline-block;
      width: 123px; }
      @media only screen and (min-width: 576px) {
        .brand-bar a:first-child {
          width: 153px; } }
  .brand-bar .brand-bar__login {
    float: right;
    font-size: 0.9230769231em;
    font-weight: 600; }

.color-brand {
  color: #8c1515; }

.color-action {
  color: #017c92; }

.color-action-active {
  color: #016779; }

.color-background {
  color: #fff; }

.color-background-secondary {
  color: #f4f4f4; }

.color-border {
  color: #ccc; }

.color-text {
  color: #222328; }

.color-text-active {
  color: #4d4f53; }

.color-reverse-text {
  color: #fff; }

.color-reverse-text-active {
  color: #ffcdcd; }

.color-bright-red {
  color: #b1040e; }

.color-dark-red {
  color: #8c1414; }

.color-light-red {
  color: #e3dfd5; }

.color-black {
  color: #000; }

.color-charcoal {
  color: #222328; }

.color-stone {
  color: #4d4f53; }

.color-steel {
  color: #6e6f72; }

.color-ash {
  color: #9c9d9e; }

.color-fog {
  color: #dad7cb; }

.color-mist {
  color: #FEFEFE; }

.color-white {
  color: #fff; }

.color-emphasis {
  color: #f9b002; }

.block--lockup {
  background: transparent url("/themes/stanford/matson/img/source/bg-logo.png") no-repeat center center;
  background-size: 160px 140px;
  position: relative;
  margin: 1.0769230769em auto 0;
  width: 110px;
  z-index: 4; }
  @media only screen and (min-width: 860px) {
    .block--lockup {
      display: table;
      margin: 0 0;
      width: auto; } }
  @media only screen and (min-width: 860px) and (max-width: 575px) {
    .block--lockup {
      padding: 1em calc(((50% /12) * 0) + 40px); }
      .block--lockup::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 860px) and (min-width: 576px) and (max-width: 767px) {
    .block--lockup {
      padding: 1em calc(((50% /12) * 0) + 40px); }
      .block--lockup::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 860px) and (min-width: 768px) and (max-width: 1023px) {
    .block--lockup {
      padding: 1em calc(((50% /12) * 0) + 40px); }
      .block--lockup::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 860px) and (min-width: 1024px) and (max-width: 1499px) {
    .block--lockup {
      padding: 1em calc(((50% /12) * 0) + 40px); }
      .block--lockup::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 860px) and (min-width: 1500px) {
    .block--lockup {
      padding: 1em calc(50% - (750px - 60px)); }
      .block--lockup::after {
        clear: both;
        content: "";
        display: block; } }
  .block--lockup .block-grid-collapse {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px); }

@media only screen and (min-width: 860px) {
  .block--lockup__site-logo-wrapper .block--lockup__site-logo img {
    width: 110px;
    margin: 0 10px;
    padding-top: 5px; } }

.block--lockup__site-name-and-slogan {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  font-size: 2.7692307692em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 2.2px;
  padding-bottom: 6px;
  text-align: justify;
  text-align: left;
  width: 110px; }
  @media only screen and (min-width: 860px) {
    .block--lockup__site-name-and-slogan {
      margin: 0 12px 0 8px; } }
  .block--lockup__site-name-and-slogan a {
    color: #fff; }
    .block--lockup__site-name-and-slogan a:hover, .block--lockup__site-name-and-slogan a:active, .block--lockup__site-name-and-slogan a:focus {
      text-decoration: none; }

.block--lockup__site-slogan {
  color: #fff;
  font-size: 9px;
  font-weight: 300;
  line-height: 1.25;
  text-align: justify;
  text-transform: uppercase;
  width: 110px; }
  @media only screen and (min-width: 860px) {
    .block--lockup__site-slogan {
      margin: 0 10px; } }

.color-brand {
  color: #8c1515; }

.color-action {
  color: #017c92; }

.color-action-active {
  color: #016779; }

.color-background {
  color: #fff; }

.color-background-secondary {
  color: #f4f4f4; }

.color-border {
  color: #ccc; }

.color-text {
  color: #222328; }

.color-text-active {
  color: #4d4f53; }

.color-reverse-text {
  color: #fff; }

.color-reverse-text-active {
  color: #ffcdcd; }

.color-bright-red {
  color: #b1040e; }

.color-dark-red {
  color: #8c1414; }

.color-light-red {
  color: #e3dfd5; }

.color-black {
  color: #000; }

.color-charcoal {
  color: #222328; }

.color-stone {
  color: #4d4f53; }

.color-steel {
  color: #6e6f72; }

.color-ash {
  color: #9c9d9e; }

.color-fog {
  color: #dad7cb; }

.color-mist {
  color: #FEFEFE; }

.color-white {
  color: #fff; }

.color-emphasis {
  color: #f9b002; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#footer__global-footer {
  background-color: #8c1515;
  box-shadow: inset 0 4px 8px -2px rgba(0, 0, 0, 0.2);
  color: #e3dfd5;
  min-height: 9.0769230769em;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    #footer__global-footer {
      padding: 30px calc(((50% /12) * 0) + 20px); }
      #footer__global-footer::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 768px) {
    #footer__global-footer {
      padding: 30px calc(((50% /12) * 0) + 40px); }
      #footer__global-footer::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 1500px) {
    #footer__global-footer {
      padding: 30px calc(50% - (750px - 60px)); }
      #footer__global-footer::after {
        clear: both;
        content: "";
        display: block; } }
  @media only print {
    #footer__global-footer {
      padding: 30px calc(((50% /12) * 0) + 0.25in); }
      #footer__global-footer::after {
        clear: both;
        content: "";
        display: block; } }
  #footer__global-footer a {
    color: #e3dfd5; }
    #footer__global-footer a:hover, #footer__global-footer a:active, #footer__global-footer a:focus {
      color: #fff; }
  #footer__global-footer .global-footer__inner {
    position: relative; }
  #footer__global-footer #global-footer__brand {
    text-align: center;
    margin-bottom: 2rem; }
    @media only screen and (min-width: 576px) {
      #footer__global-footer #global-footer__brand {
        float: left;
        width: 49%;
        margin: 2.3076923077em 2% 0 0; } }
    @media only screen and (min-width: 768px) {
      #footer__global-footer #global-footer__brand {
        position: absolute;
        margin-top: 0;
        width: 8em; } }
  #footer__global-footer #global-footer__nav {
    color: #fff;
    font-weight: normal;
    margin: 0; }
    @media only screen and (min-width: 576px) {
      #footer__global-footer #global-footer__nav {
        float: left;
        width: 49%; } }
    @media only screen and (min-width: 768px) {
      #footer__global-footer #global-footer__nav {
        width: 100%;
        padding-top: 0.3846153846em; } }
    #footer__global-footer #global-footer__nav #nav__global-links,
    #footer__global-footer #global-footer__nav #nav__policy-links {
      font-size: 1.1538461538em;
      overflow: hidden; }
      #footer__global-footer #global-footer__nav #nav__global-links a,
      #footer__global-footer #global-footer__nav #nav__policy-links a {
        display: block;
        float: none;
        text-align: center; }
        @media only screen and (min-width: 576px) {
          #footer__global-footer #global-footer__nav #nav__global-links a,
          #footer__global-footer #global-footer__nav #nav__policy-links a {
            text-align: left;
            margin-right: 1.3076923077em; } }
        @media only screen and (min-width: 768px) {
          #footer__global-footer #global-footer__nav #nav__global-links a,
          #footer__global-footer #global-footer__nav #nav__policy-links a {
            float: left; } }
    #footer__global-footer #global-footer__nav #nav__global-links {
      margin-bottom: 0.125em; }
      @media only screen and (min-width: 768px) {
        #footer__global-footer #global-footer__nav #nav__global-links {
          overflow: hidden; } }
    @media only screen and (min-width: 768px) {
      #footer__global-footer #global-footer__nav #nav__policy-links {
        margin-bottom: 0.275em; } }
  #footer__global-footer #global-footer__info {
    font-weight: normal;
    overflow: hidden;
    padding-top: 25px;
    text-align: center;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      #footer__global-footer #global-footer__info {
        float: left;
        text-align: left;
        padding-top: 0; } }
    #footer__global-footer #global-footer__info .vcard {
      font-size: 1em;
      font-weight: normal; }
      #footer__global-footer #global-footer__info .vcard .adr {
        margin-left: 0.4em;
        margin-right: 0.8em; }
      #footer__global-footer #global-footer__info .vcard .copyright-links {
        display: block; }
        @media only screen and (min-width: 768px) {
          #footer__global-footer #global-footer__info .vcard .copyright-links {
            display: inline; } }
        #footer__global-footer #global-footer__info .vcard .copyright-links a {
          margin-right: 0.4em; }
  @media only screen and (min-width: 768px) {
    #footer__global-footer #global-footer__nav,
    #footer__global-footer #global-footer__info {
      margin-left: 9.6153846154em; } }
  @media only screen and (min-width: 1024px) {
    #footer__global-footer #global-footer__nav,
    #footer__global-footer #global-footer__info {
      margin-left: 12.6923076923em; } }
  @media only screen and (min-width: 1500px) {
    #footer__global-footer #global-footer__nav,
    #footer__global-footer #global-footer__info {
      margin-left: 15em; } }

html {
  position: relative;
  min-height: 100%; }

body {
  min-height: auto;
  margin: 0 0 320px; }
  @media only screen and (min-width: 576px) {
    body {
      margin-bottom: 228px; } }
  @media only screen and (min-width: 768px) {
    body {
      margin-bottom: 118px; } }

#footer__global-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 320px;
  width: 100%; }
  @media only screen and (min-width: 576px) {
    #footer__global-footer {
      height: 228px; } }
  @media only screen and (min-width: 768px) {
    #footer__global-footer {
      height: 118px; } }

#header {
  background: rgba(0, 0, 0, 0.5);
  position: relative; }

.color-brand {
  color: #8c1515; }

.color-action {
  color: #017c92; }

.color-action-active {
  color: #016779; }

.color-background {
  color: #fff; }

.color-background-secondary {
  color: #f4f4f4; }

.color-border {
  color: #ccc; }

.color-text {
  color: #222328; }

.color-text-active {
  color: #4d4f53; }

.color-reverse-text {
  color: #fff; }

.color-reverse-text-active {
  color: #ffcdcd; }

.color-bright-red {
  color: #b1040e; }

.color-dark-red {
  color: #8c1414; }

.color-light-red {
  color: #e3dfd5; }

.color-black {
  color: #000; }

.color-charcoal {
  color: #222328; }

.color-stone {
  color: #4d4f53; }

.color-steel {
  color: #6e6f72; }

.color-ash {
  color: #9c9d9e; }

.color-fog {
  color: #dad7cb; }

.color-mist {
  color: #FEFEFE; }

.color-white {
  color: #fff; }

.color-emphasis {
  color: #f9b002; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.hero-banner.has-tint::before, .hero-banner__container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.hero-banner {
  background-color: #222328;
  background-size: cover;
  position: relative;
  margin-top: -107px; }
  @media only screen and (min-width: 860px) {
    .hero-banner {
      margin-top: -124px; } }
  .hero-banner.has-tint::before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.35); }

.hero-banner__inner {
  position: relative;
  margin: 0 auto;
  min-height: 500px; }
  .hero-banner__inner::after {
    clear: both;
    content: "";
    display: block; }
  @media only screen and (min-width: 768px) {
    .hero-banner__inner {
      min-height: 300px; } }
  @media only screen and (min-width: 1024px) {
    .hero-banner__inner {
      min-height: 400px; } }
  @media (min-width: 1500px) {
    .hero-banner__inner {
      max-width: 1380px; } }
  @media only screen and (min-width: 768px) {
    .hero-banner__inner.is-tall {
      min-height: 500px; } }
  @media only screen and (min-width: 1024px) {
    .hero-banner__inner.is-tall {
      min-height: 660px; } }

.hero-banner__container {
  border: 1px solid #fff;
  margin-top: 5em;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px; }
  @media only screen and (min-width: 768px) {
    .hero-banner__container {
      margin-left: 40px;
      margin-right: 40px; } }
  @media (min-width: 1500px) {
    .hero-banner__container {
      margin-left: 0;
      margin-right: 0; } }

.hero-banner__header {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
  position: absolute;
  top: 50%;
  margin-top: auto;
  margin-bottom: auto;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  letter-spacing: .5px;
  text-align: center;
  width: 80%; }
  @media only screen and (min-width: 768px) {
    .hero-banner__header {
      width: 50%; } }
  @media only screen and (min-width: 1024px) {
    .hero-banner__header {
      width: 25%; } }
  @media only screen and (min-width: 768px) {
    .hero-banner__header.is-right {
      position: absolute;
      top: 50%;
      margin-top: auto;
      margin-bottom: auto;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: right;
      right: 0;
      left: auto;
      margin-left: 0;
      margin-right: 60px;
      width: 50%; }
      .hero-banner__header.is-right h1 {
        position: relative;
        padding-right: 40px; }
        .hero-banner__header.is-right h1::after {
          background-color: #fff;
          content: "";
          position: absolute;
          right: 0;
          bottom: .5em;
          height: 2px;
          width: 30px; } }
  @media only screen and (min-width: 1024px) {
    .hero-banner__header.is-right {
      margin-right: 100px; } }
  .hero-banner__header p {
    line-height: 2; }
  .hero-banner__header .cite {
    font-size: 0.7692307692em;
    padding-top: 2em;
    margin-bottom: 1em;
    opacity: 0.8; }

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3; }

@media only screen and (max-width: 575px) {
  .navbar__container {
    padding: 0 calc(((50% /12) * 0) + 20px); }
    .navbar__container::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .navbar__container {
    padding: 0 calc(((50% /12) * 0) + 20px); }
    .navbar__container::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar__container {
    padding: 0 calc(((50% /12) * 0) + 40px); }
    .navbar__container::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  .navbar__container {
    padding: 0 calc(((50% /12) * 0) + 40px); }
    .navbar__container::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 1500px) {
  .navbar__container {
    padding: 0 calc(50% - (750px - 60px)); }
    .navbar__container::after {
      clear: both;
      content: "";
      display: block; } }

@media only print {
  .navbar__container {
    padding: 0 calc(((50% /12) * 0) + 0.25in); }
    .navbar__container::after {
      clear: both;
      content: "";
      display: block; } }

@media only screen and (min-width: 860px) {
  .navbar__inner {
    position: relative; } }

.navbar__group {
  display: block;
  padding-bottom: 5em;
  padding-top: 8.4615384615em; }
  @media only screen and (min-width: 860px) {
    .navbar__group {
      display: block;
      float: right;
      padding-bottom: 0;
      padding-top: 0;
      margin-right: 5em; } }

.navbar__button {
  position: absolute;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  height: 5em;
  width: 5em;
  right: 0;
  z-index: 4; }
  .navbar__button:hover, .navbar__button:active, .navbar__button:focus {
    background: transparent; }
  @media only screen and (min-width: 860px) {
    .navbar__button {
      display: none; } }
  .navbar__button .i-svg {
    height: 1.6923076923em;
    width: 1.6923076923em;
    margin-bottom: -2px; }
    .navbar__button .i-svg use {
      fill: #fff; }
  .navbar__button .i-svg--close {
    display: none; }

.navbar__search {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 5em;
  padding-left: 20px;
  padding-right: 20px; }
  @media only screen and (min-width: 860px) {
    .navbar__search {
      background: transparent;
      bottom: auto;
      left: auto;
      top: 0;
      right: 0;
      padding-left: 0;
      padding-right: 0; } }

.navigation {
  margin-bottom: 0; }
  .navigation .menu::after {
    clear: both;
    content: "";
    display: block; }
  .navigation ul {
    width: 200px;
    margin: 0 auto;
    padding: 40px 0; }
    @media only screen and (min-width: 860px) {
      .navigation ul {
        width: auto;
        margin-left: 0;
        margin-bottom: 0;
        padding: 0; } }
    .navigation ul li:first-child > a {
      border-top: 0; }
  .navigation li {
    display: block;
    margin-bottom: 0;
    position: relative; }
    @media only screen and (min-width: 860px) {
      .navigation li {
        float: left;
        list-style-type: none;
        display: inline-block;
        padding: 0 1.1538461538em; }
        .navigation li.menu-item--active-trail .parent {
          box-shadow: inset 0 -3px 0 0 #f9b002; } }
    .navigation li a {
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      color: #fff;
      display: block;
      font-size: 1.0769230769em;
      letter-spacing: 0.1923076923em;
      padding: 1em 0;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none; }
      @media only screen and (min-width: 860px) {
        .navigation li a:hover, .navigation li a:active, .navigation li a:focus {
          box-shadow: inset 0 -3px 0 0 #f9b002; } }
      @media only screen and (min-width: 860px) {
        .navigation li a {
          border-top: 0;
          border-bottom: 0;
          letter-spacing: 0.1461538462em;
          padding: 2em 1em;
          text-align: left;
          font-size: 0.9230769231em; } }
  .navigation ul ul {
    display: none;
    transition: all .5s ease-out;
    background: rgba(0, 0, 0, 0.25);
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0;
    width: 100%;
    z-index: 2; }
    @media only screen and (min-width: 860px) {
      .navigation ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 220px; } }
    .navigation ul ul li {
      float: none;
      display: block; }
    .navigation ul ul a {
      border-top: 0;
      padding: 1em 1em; }
      .navigation ul ul a:hover, .navigation ul ul a:active, .navigation ul ul a:focus {
        box-shadow: none; }

.search-toggle__icon {
  position: absolute;
  left: 12px;
  top: 12px; }
  .search-toggle__icon .i-svg {
    height: 1.3076923077em;
    width: 1.3076923077em;
    margin-bottom: -2px; }
    .search-toggle__icon .i-svg use {
      fill: #fff; }

.search-toggle {
  position: relative; }
  .search-toggle input {
    outline: none;
    margin: 13px 0; }
  .search-toggle input[type=search] {
    background: #6e6f72 url("/themes/stanford/matson/img/source/search-white.svg") no-repeat 9px center;
    background-size: 17px 17px;
    box-sizing: border-box;
    border: 0;
    box-shadow: none;
    color: #fff;
    font-family: inherit;
    font-size: 100%;
    padding: 10px 10px 10px 40px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
    @media only screen and (min-width: 860px) {
      .search-toggle input[type=search] {
        background-color: transparent;
        background-position: center center;
        border: 0;
        width: 0; } }
  .search-toggle input::-webkit-search-decoration,
  .search-toggle input::-webkit-search-cancel-button {
    display: none; }
  .search-toggle input[type=search]:focus {
    background-color: #6e6f72;
    border: 0; }
    @media only screen and (min-width: 860px) {
      .search-toggle input[type=search]:focus {
        background-position: 9px center;
        background-color: #6e6f72;
        width: 620px; } }
  .search-toggle input::-moz-placeholder {
    color: #fff; }
  .search-toggle input::-webkit-input-placeholder {
    color: #fff; }

.search-toggle__text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(1% at 1% 1%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

/*# sourceMappingURL=components.css.map */