@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";


// Webform styles

// Adding the "required *". See form.CSS.
.webform-submission-form .form-required::after {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
  content: "";
  vertical-align: super;
  /* Use a background image to prevent screen readers from announcing the text. */
  background-image: url(../../img/optimized/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
}
