@charset "UTF-8";

// -----------------------------------------------------------------------------
// This file contains all button base styles.
// -----------------------------------------------------------------------------
//

%button__generic {
  $_spacing: em(26px);

  box-shadow: none;
  font-family: $base-font-family;
  padding: em(10px) em($_spacing) em(10px);
  text-transform: uppercase;
}

%button__primary {
  @extend %button__generic;

  background-color: $primary-color;
  color: color(reverse-text);
  font-weight: 600;

  @include on-event {
    background-color: darken($primary-color, 10%);
    color: color(reverse-text);
  }
}

%button__secondary {
  @extend %button__generic;

  background-color: color(action);
  color: color(reverse-text);
  font-weight: 600;

  @include on-event {
    background-color: darken(color(action), 10%);
    color: color(reverse-text);
  }
}

@mixin button__hollow($color: color(emphasis)) {
  @extend %button__generic;

  background-color: transparent;
  border: 1px solid $color;
  color: $color;
  font-weight: 400;
  letter-spacing: 1.4px;

  @include on-event {
    background-color: $color;
    color: color(text-active);
  }
}

%button__large {
  font-weight: 600;
  padding: em(22px);
}

%button__expand {
  width: 100%;
  display: block;
}

/// Apply all button styles.
.button,
.button__primary {
  @extend %button__generic;
  @extend %button__primary;
}

.button__primary--expanded {
  @extend %button__generic;
  @extend %button__primary;
  @extend %button__large;
  @extend %button__expand;
}

.button,
.button__secondary {
  @extend %button__generic;
  @extend %button__secondary;
}

.button__secondary--expanded {
  @extend %button__generic;
  @extend %button__secondary;
  @extend %button__large;
  @extend %button__expand;
}

.button__hollow {
  @extend %button__generic;
  @include button__hollow;
}

.button__hollow--white {
  @extend %button__generic;
  @include button__hollow(color(white));
}

.button__hollow--expanded {
  @extend %button__generic;
  @extend %button__large;
  @extend %button__expand;
  @include button__hollow;
}
