@charset "UTF-8";

#{$all-text-inputs},
select {
  $_border: $base-border;
  $_border-radius: $base-border-radius;
  $_box-shadow: $form-box-shadow;
  $_spacing: $base-spacing;
  $_small-spacing: $base-spacing;
  $_duration: $base-duration;
  $_timing: $base-timing;

  appearance: none;
  background-color: color(background);
  border: $_border;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: $_small-spacing;
  padding: 1em em(16px);
  transition: border-color $_duration $_timing;
  width: 100%;

  @include on-event {
    border-color: shade(color(border), 20%);
  }

  &:disabled {
    background-color: shade(color(background), 5%);
    cursor: not-allowed;

    &:hover {
      border: $_border;
    }
  }

  &::placeholder {
    color: tint(color(text), 40%);
  }
}

textarea {
  resize: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 1em em(16px);
  background-image: url('/themes/stanford/matson/img/source/carrot.svg');
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
}
