@charset "UTF-8";

ul,
ol {
  color: color(text-active);
}

ul > li,
ol > li {
  line-height: 2em;
  margin-bottom: 0;
}

ul > li {
  list-style: disc;
}

dl > dt {
  margin-bottom: 1em;
}

.definition-list {
  @include grid-container;

  dt {
    font-weight: normal;
    float: left;
    width: 130px;
    clear: left;
    text-transform: uppercase;
    color: color(dark-red);
  }

  dd {
    float: left;
    width: calc(100% - 130px);
  }
}
