@charset "UTF-8";

$base-font-size: _retrieve-decanter-setting(base-font-size);
$root-font-size: _retrieve-decanter-setting(root-font-size);

body {
  @include font-size($base-font-size, $root-font-size);
  font-family: $base-font-family;
  line-height: $base-line-height;

  // Responsive font sizes:
  @include grid-media($media-sm-max) {
    @include font-size(16px, $root-font-size)
  }

  @include grid-media($media-xl) {
    @include font-size(16px, $root-font-size)
  }

  @include grid-media($media-print) {
    @include font-size(12px, $root-font-size)
  }
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6,
ol + h1,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
ol + h6 {
  margin-top: modular-scale(0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: {
    top: 0;
    bottom: modular-scale(-4);
  }
  font-weight: normal;
}

h1,
.h1,
%h1 {
  @include font-size(48px);
  @include grid-media($media-sm) {
    @include font-size(50px);
  }
}

h2,
.h2,
%h2 {
  @include font-size(32px);
  @include grid-media($media-sm) {
    @include font-size(34px);
  }
}

h3,
.h3,
%h3 {
  @include font-size(28px);
  @include grid-media($media-sm) {
    @include font-size(30px);
  }
}

h4,
.h4,
%h4 {
  @include font-size(26px);
  @include grid-media($media-sm) {
    @include font-size(29px);
  }
}

h5,
.h5,
%h5 {
  @include font-size(15px);
  @include grid-media($media-sm) {
    @include font-size(16px);
  }
}

h6,
.h6,
%h6 {
  @include font-size(16px);
}

p {
  margin: 0 0 modular-scale(1);
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote,
q {
  margin: 0 modular-scale(2);
  quotes: " ";

  &::before,
  &::after {
    content: "";
  }
}

address {
  margin: 0 0 modular-scale(2);
}

pre {
  @include font-size(16px);
  background: shade(color(border), 10%);
  font-family: $font-family-monospace;
  line-height: $base-line-height;
  margin-bottom: modular-scale(2);
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  @include font-size(16px);
  font-family: $font-family-monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted color(border);
  cursor: help;
}

mark,
ins,
del {
  padding: 0 .25em .15em;
}

del {
  color: color(text);
  background: color(light-red);
  text-decoration: line-through;
  text-decoration-color: color(light-red);
}

ins {
  color: color(text);
  background: color(light-green);
  text-decoration: none;
}

mark {
  color: color(text);
  background: color(light-yellow);
  text-decoration: none;
}

abbr,
acronym {
  border-bottom: 1px dotted color(border);
  cursor: help;
}

mark,
ins,
del {
  padding: 0 .25em .15em;
}

del {
  color: color(text);
  background: color(light-red);
  text-decoration: line-through;
  text-decoration-color: color(light-red);
}

ins {
  color: color(text);
  background: color(light-green);
  text-decoration: none;
}

mark {
  color: color(text);
  background: color(light-yellow);
  text-decoration: none;
}

small,
.small-text {
  @include font-size(14px);
}

big,
.large-text {
  @include font-size(20px)
}

a {
  color: color(action);
  text-decoration: none;

  @include on-event {
    color: color(action-active);
    text-decoration: underline;
  }
}

hr {
  border-top: 0;
  border-right: 0;
  border-bottom: $base-border;
  border-left: 0;
  margin: modular-scale(1) 0;
}

// Stanford University Brand Icon Font
// ---------------------------------------------------------------------------------------------------------------------
$su-brand-University: "\1f57e";
$su-brand-Stanford-University: "\1f57c";
$su-brand-Stanford: "\1f57d";

[class^="su-brand"],
[class*=" su-brand"] {
  // use !important to prevent issues with browser extensions that change fonts
  font-family: 'Stanford', $font-family-serif !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  transform: translateZ(0); //enables hardware acceleration. Makes performance much smoother on resize.

  // Enable Ligatures
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Custom Matson Styles
// ---------------------------------------

.text-with-summary {
  .pullquote-large,
  blockquote,
  q {
    margin: 0 modular-scale(2);
    quotes: "";
    font-weight: 200;
    font-size: modular_scale(1.2);
    letter-spacing: .5px;
    line-height: 1.3em;
    position: relative;
    padding-top: 30px;

    @include grid-media($media-lg) {
      margin: 0 modular-scale(7);
    }

    &::before {
      font-size: 3.4em;
      position: absolute;
      top: 12px;
      left: -24px;
      color: color(brand);
      content: '‘‘';
      letter-spacing: -7px;
      font-family: $font-stack-bentham;
    }

    &::after {
      content: "";
    }
  }
}

.lead-text {
  font-size: modular-scale(2);
  margin: 0 modular-scale(2);
  line-height: 1.4em;
}
