<div class="hero-banner has-tint" style="background-image:url(https://upload.wikimedia.org/wikipedia/commons/3/36/Hopetoun_falls.jpg)">
  <div class="hero-banner__inner is-tall">
    <div class="hero-banner__container">
      <div class="hero-banner__header is-right">
        <h1>Earth Matters</h1>

        <p>Today more than 7 billion people inhabit Earth and a billion lack adequate energy, water and food. As the population grows to 9 billion by 2099, the demand for resources will soar. At Stanford Earth, we strive for sustainable solutions to improve lives.</p>

        <p class="cite">Photo Credit: Abby Berke USGS Geologist, Geophysics BS '91</p>
      </div>
    </div>
  </div>
</div>
