@charset "UTF-8";

.section-quote-banner {
  @include container-offset-left;

  @include grid-media($media-lg) {
    padding-right: calc(50% - (750px - 60px));
  }

  .quote-card {
    @include grid-media($media-md) {
      max-width: none;
    }

    @include grid-media($media-lg) {
      max-width: 80%;
    }
  }
}
