
$footer-layout-grid: (
  columns: 1
);

.contact-footer {
  $_brand-container: (
    sm-max: (columns: 12, grid-media: $media-sm-max,  v-space: 30px, max-width: false, grid-collapse: false),
    md: (columns: 12, grid-media: $media-md,          v-space: 30px, max-width: false, grid-collapse: false),
    xl: (columns: 12, grid-media: $media-xl,          v-space: 30px, max-width: true,  grid-collapse: false),
    print: (columns: 12, grid-media: $media-print,    v-space: 30px, max-width: false, grid-collapse: false),
  );

  @include responsive-container($_brand-container);
  background-color: color(text);
  color: color(white);

  h2 {
    font-size: em(12px);
    font-weight: 800;
    letter-spacing: 3px;
    opacity: .8;
    text-transform: uppercase;
  }

  a {
    color: color(white);
  }
}

.contact-footer__brand {
  @include grid-column(12);

  @include grid-media($media-md) {
    @include grid-column(6);
  }

  @include grid-media($media-lg) {
    @include grid-column(2);
    margin-left: 0;
  }
}  

.contact-footer__social {
  @include grid-column(12);

  @include grid-media($media-md) {
    @include grid-column(6);
  }

  @include grid-media($media-lg) {
    @include grid-column(3);
  }

  .social-links {
    list-style: none;
    margin: 0;

    li {
      display: inline-block;
    }
  }
}

.contact-footer__links {
  @include grid-column(12);

  @include grid-media($media-md) {
    @include grid-column(6);
  }

  @include grid-media($media-lg) {
    @include grid-column(3);
  }

  .contact-links {
    list-style: none;
    margin: 0;

    a {
      font-size: em(12px);
      font-weight: 800;
      letter-spacing: 3px;
      opacity: .5;
      text-transform: uppercase;
    }
  }
}

.contact-footer__subscribe {
  @include grid-column(12);

  @include grid-media($media-md) {
    @include grid-column(6);
  }

  @include grid-media($media-lg) {
    @include grid-column(4);
  }

  p {
    font-size: em(12px);
    font-weight: 800;
    letter-spacing: 1px;
    opacity: .5;
  }
}