@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

.contact-footer {
  $_contact-container: (
    sm-max: (columns: 12, grid-media: $media-sm-max,  v-space: 40px, max-width: false, grid-collapse: false),
    md: (columns: 12, grid-media: $media-md,          v-space: 60px, max-width: false, grid-collapse: false),
    lg: (columns: 10, grid-media: $media-lg,          v-space: 90px, max-width: true, grid-collapse: false),
    xl: (columns: 10, grid-media: $media-xl,          v-space: 90px, max-width: true,  grid-collapse: false),
    print: (columns: 12, grid-media: $media-print,    v-space: 30px, max-width: false, grid-collapse: false),
  );

  @include responsive-container($_contact-container);
  // @include image-overlay($image-overlay-bg-color: rgba(0, 0, 0, 0.75));
  background-size: cover;
  background-color: #1C1E23;
  color: color(white);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;

  @include grid-media($media-md) {
    text-align: left;
  }

  h2 {
    font-size: em(14px);
    font-weight: 800;
    letter-spacing: 3.5px;
    opacity: .8;
    margin-bottom: 1em;
    text-transform: uppercase;

    @include grid-media($media-md) {
      font-size: em(12px);
      letter-spacing: 3px;
    }
  }

  a {
    color: color(white);
  }
}

.contact-footer__brand {
  @include grid-column(12);
  padding: 1em 0 em(95px);
  position: relative;
  z-index: 2;

  @include grid-media($media-md) {
    @include grid-column(6);
    margin-left: 0;
    margin-right: 40px;
    padding: 0 0 2rem;
  }

  @include grid-media($media-lg) {
    @include grid-column(2);
    margin-right: 0;
  }

  .block--lockup {
    padding: 0;
    margin-top: -12px;

    @include grid-media($media-md-only) {
      margin: -12px 0 0 0;
    }
  }

  .block--lockup__site-name-and-slogan,
  .block--lockup__site-logo-wrapper .block--lockup__site-logo img {
    @include grid-media($media-md) {
      width: 110px;
      margin: 0;
    }
  }
}

.contact-footer__social {
  @include grid-column(12);
  position: relative;
  z-index: 2;

  @include grid-media($media-md) {
    @include grid-column(6);
    padding: 0 0 2rem;
  }

  @include grid-media($media-lg) {
    @include grid-column(2);
  }

  .social-links {
    list-style: none;
    margin: 0;
    padding: 1.5em 0;

    @include grid-media($media-md) {
      padding-top: em(5px);
    }

    li {
      display: inline-block;
      padding: 0 1em;
      margin: 0;

      @include grid-media($media-md) {
        padding-left: 0;
      }
    }

    a {
      opacity: .8;

      @include on-event {
        opacity: 1;
      }
    }
  }

  h2 {
    display: none;

    @include grid-media($media-md) {
      display: block;
    }
  }
}

.contact-footer__links {
  @include grid-column(12);
  position: relative;
  z-index: 2;

  @include grid-media($media-md) {
    @include grid-column(6);
    padding: 0;
    margin-left: 0;
    margin-right: 40px;
  }

  @include grid-media($media-md-only) {
    clear: both;
  }

  @include grid-media($media-lg) {
    @include grid-column(4);
    margin-right: 0;
  }

  .menu {
    border-top: 1px solid rgba(255, 255, 255, .6);
    border-bottom: 1px solid rgba(255, 255, 255, .6);
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 1em 0;

    @include grid-media($media-md) {
      border: 0;
      padding: 0;
    }

    > li:first-of-type {
      line-height: 0;
      a {
        display: block;
        padding-bottom: 30px;
      }
    }

    li {
      margin: 0;
      list-style: none;
    }

    a {
      display: block;
      font-size: em(14px);
      font-weight: 800;
      letter-spacing: 3px;
      padding: 1em 0;
      opacity: .8;
      text-transform: uppercase;

      @include grid-media($media-md) {
        font-size: em(12px);
        padding: 1em 0;
      }

      @include on-event {
        opacity: 1;
        text-decoration: none;
      }
    }
  }

  h2 {
    display: none;

    @include grid-media($media-md) {
      display: block;
    }
  }
}

.contact-footer__subscribe {
  @include grid-column(12);
  padding-top: 4em;
  position: relative;
  z-index: 2;

  @include grid-media($media-md) {
    @include grid-column(6);
    padding-top: 0;
  }

  @include grid-media($media-lg) {
    @include grid-column(4);
  }

  p {
    display: none;
    font-size: em(12px);
    font-weight: 800;
    letter-spacing: 1px;
    opacity: .5;

    @include grid-media($media-md) {
      display: block;
    }
  }

  .email-input {
    border-radius: 0;
    padding: 1em em(16px);
    color: color(text);
  }

  .button__hollow {
    font-weight: 400;
    letter-spacing: 1.4px;

    @include on-event {
      color: color(text);
    }
  }
}



