
.section-highlight-banner {
  color: color(white);

  &::before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    @include grid-media($media-lg) {
      top: 45px;
      bottom: 45px;
    }
  }

  // If single card apply new background offset
  &.is-single {
    &::before {
      @include grid-media($media-lg) {
        left: calc(50% - (450px - 30px));
        right: calc(50% - (450px - 30px));
        top: 0;
        bottom: 0;
      }
    }
  }

  .section-header {
    @include grid-media($media-md-only) {
      text-align: left;
    }

    .drop-cap-title__name {
      color: color(white);
    }

    .drop-cap-title__drop-cap {
      opacity: 0.35;
    }
  }
}
