{#
/**
 * @file
 * Simple Slat pattern.
 */
#}

{% set attributes = attributes.addClass(['simple-slat', 'component-centered-container', variants.image_side, variants.width]) %}

{% set vars = {
  'context': context,
  'image': image,
  'image_caption': image_caption,
  'link': link,
  'description': description,
  'tag': tag,
  'title': title,
  'more': more
} %}

<div{{ attributes }}>
  {{ pattern('simple_block', vars) }}
</div>
