@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

#footer__global-footer {
  $_brand-container: (
    sm-max: (columns: 12, grid-media: $media-sm-max,  v-space: 30px, max-width: false, grid-collapse: false),
    md: (columns: 12, grid-media: $media-md,          v-space: 30px, max-width: false, grid-collapse: false),
    lg: (columns: 10, grid-media: $media-lg,          v-space: 30px, max-width: true,  grid-collapse: false),
    xl: (columns: 10, grid-media: $media-xl,          v-space: 30px, max-width: true,  grid-collapse: false),
    print: (columns: 12, grid-media: $media-print,    v-space: 30px, max-width: false, grid-collapse: false),
  );

  @include responsive-container($_brand-container);
  background-color: color(brand);
  box-shadow: inset 0 4px 8px -2px rgba(0, 0, 0, .2);
  color: color(light-red);
  min-height: em(118px);
  width: 100%;

  a {
    color: color(light-red);

    @include on-event {
      color: color(white);
    }
  }

  .global-footer__inner {
    position: relative;
  }

  #global-footer__brand {
    text-align: center;
    margin-bottom: 2rem;

    @include grid-media($media-sm) {
      float: left;
      width: 49%;
      margin: em(30px) 2% 0 0;
    }

    @include grid-media($media-md) {
      position: absolute;
      margin-top: 0;
      width: em(104px);
    }

    @include grid-media($media-lg) {
      margin-left: 40px;
    }

  }

  #global-footer__nav {
    color: color(reverse-text);
    font-weight: normal;
    margin: 0;

    @include grid-media($media-sm) {
      float: left;
      width: 49%;
    }

    @include grid-media($media-md) {
      width: 100%;
      padding-top: em(5px);
    }

    #nav__global-links,
    #nav__policy-links {
      @include font-size(19px);
      overflow: hidden;

      a {
        display: block;
        float: none;
        text-align: center;

        @include grid-media($media-sm) {
          text-align: left;
          margin-right: em(17px);
        }

        @include grid-media($media-md) {
          float: left;
        }
      }
    }

    #nav__global-links {
      margin-bottom: 0.125em;

      @include grid-media($media-md) {
        overflow: hidden;
      }
    }

    #nav__policy-links {
      @include grid-media($media-md) {
        margin-bottom: 0.275em;
      }
    }
  }

  #global-footer__info {
    font-weight: normal;
    overflow: hidden;
    padding-top: (25px);
    text-align: center;
    width: 100%;

    @include grid-media($media-md) {
      float: left;
      text-align: left;
      padding-top: 0;
    }

    .vcard {
      @include font-size(16px);
      font-weight: normal;
      margin-bottom: 7px;

      .adr {
        margin-left: $small-spacing / 2;
        margin-right: $small-spacing;
      }

      .copyright-links {
        display: block;

        @include grid-media($media-md) {
          display: inline;
        }

        a {
          margin-right: $small-spacing;
        }
      }
    }
  }

  #global-footer__nav,
  #global-footer__info {
    @include grid-media($media-md) {
      padding-left: em(125px);
    }

    @include grid-media($media-lg) {
      padding-left: em(165px);
    }

    @include grid-media($media-xl) {
      padding-left: em(220px);
    }
  }
}

.contact-footer {

  @include grid-media($media-md) {
    .block--lockup__site-slogan {
      margin: 0 0 0 2px;
    }
  }

  @include grid-media($header-md) {
    .block--lockup__site-slogan {
      margin: 0 0 0 2px;
    }
  }

  @include grid-media($media-lg) {
    .block--lockup__site-slogan {
      margin: 0 0 0 2px;
    }
  }
}
