{#
/**
 * @file
 * Photo Banner pattern.
 */
#}
{% set attributes = attributes.addClass("photo-banner") %}
{% set paragraph_id = 'paraID' ~ random() %}
{% set attributes = attributes.setAttribute('id', paragraph_id) %}
{% set attributes = attributes.addClass('lazy-background') %}

<style>
  #{{ paragraph_id}}.visible {background-image:url('{{~ image|get_img_src ~}}')};
</style>
<div{{ attributes }}></div>
