@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

.photo-mosaic--thumbs-up {
  .photo-tiles__quote {
    width: 284px;
  }
}

.photo-mosaic--thumbs-down-alt {
  margin-top: -40px;
}

.photo-mosaic--thumbs-down-quote {
  margin: 40px 130px 0px 130px;

  @include grid-media($media-md) {
    margin: 0px 130px 0px 0px;
  }

  @include grid-media($media-lg) {
    margin: 73px 20px 0 -20px;
  }

  .photo-tiles__quote {
    margin: 0 -220px 0 -23px;
  }
}
