@charset 'UTF-8';

// Grab our mixins.
@import 'patterns/utilities/utilities';
@import 'decanter/core/utilities/decanter-utilities';

.link-banner {
  @include responsive-container($default-container);
  @include grid-container;
  background-repeat: no-repeat;
  margin-bottom: em(58px);

  // @include grid-media($media-lg) {
  //   margin-right: -80px;
  //   margin-left: -80px;
  //   padding-left: 80px;
  //   padding-right: 80px;
  // }

  .link-banner__header {
    @include grid-column(12);

    @include grid-media($media-lg) {
      @include grid-column(3);
      text-align: left;
    }

    @include grid-media($media-xl) {
      padding-right: em(70px);
    }
  }

  .link-items {
    @include grid-container;
    float: left;
    display: block;
    width: 100%;

    @include grid-media($media-md) {
      @include grid-column(12);
      @include grid-collapse;
    }

    @include grid-media($media-lg) {
      @include grid-column(9);
    }
  }

  .link-item {
    display: block;
    width: 100%;

    @include grid-media($media-md) {
      @include grid-column(4);

      &:nth-child(3n+1) {
        clear: both;
      }
    }
  }
}
