@charset 'UTF-8';

@import 'decanter/core/utilities/decanter-utilities';

// Grab our mixins.
@import 'patterns/utilities/utilities';

.section-expandable-banner {
  @include responsive-container($default-container);
  background-size: cover;
  padding-bottom: em(30px);
  padding-top: em(30px);
  position: relative;
  margin-bottom: em(58px);

  @include grid-media($media-md) {
    display: flex;
    align-items: center;
  }

  .expandable-banner__header {
    padding-top: em(30px);
    margin-left: em(30px);

    @include grid-media($media-lg) {
      @include grid-column(6);
      @include grid-push(1);
    }

  }

  .expandable-banner__container {
    @include grid-media($media-md) {
      @include grid-column(9);
    }

    .expandable-cards {
      @include grid-media($media-lg) {
        @include grid-collapse;
      }
    }
  }
}
