@charset 'UTF-8';

@import 'decanter/core/utilities/decanter-utilities';

// Grab our mixins.
@import 'patterns/utilities/utilities';

.js-section-expandable-banner {

  // open state on single expandable card
  &.has-overlay {
    @include grid-media($media-md) {
      @include image-overlay();

      &::before {
        @include fade-in(.75s);
      }

      .expandable-banner__header {
        display: none;
      }

      .expandable-banner__container {
        float: none;
        width: auto;
        margin: -30px auto;
      }

      .expandable-banner__container .expandable-cards {
        margin: 0;
        width: auto;
      }
    }
  }

  // open state on single expandable card
  .js-expandable-card {
    &.is-open {
      @include fade-in(.75s);
      @include grid-media($media-md) {
        float: none;
        margin: 30px;
        z-index: 4;
        max-width: none;
        width: auto;
      }
    }
  }
}
