@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities.scss";

$logo-width: 110px;

.block--lockup {
  background: transparent url('/themes/stanford/matson/img/source/bg-logo.png') no-repeat center center;
  background-size: 160px 140px;
  position: relative;
  margin: em(14px) auto 0;
  width: $logo-width;
  z-index: 4;

  @include grid-media($header-md) {
    @include responsive-container($default-container);
    display: table;
    margin: 0 0;
    width: auto;
  }  

  // Grid collapse.
  .block-grid-collapse {
    @include grid-collapse;
  }
}

.block--lockup__site-logo-wrapper {

  .block--lockup__site-logo {
    img {
      @include grid-media($header-md) {
        width: 110px;
        margin: 0 10px;
        padding-top: 5px;
      }
    }
  }
}

%block--lockup__site-name-and-slogan-text {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  font-size: em(36px);
  font-weight: 600;
  line-height: 1;
  letter-spacing: 2.2px;
  padding-bottom: 6px;
  text-align: justify;
  text-align: left;
  width: $logo-width;

  @include grid-media($header-md) {
    margin: 0 12px 0 8px;
  }  

  a {
    color: color(white);

    @include on-event {
      text-decoration: none;
    }
  }
}

%block--lockup__site-slogan-text {
  // text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  color: color(white);
  font-size: 9px;
  font-weight: 300;
  line-height: 1.25;
  text-align: justify;
  text-transform: uppercase;
  width: $logo-width;

  @include grid-media($header-md) {
    margin: 0 10px;
  }
}

.block--lockup__site-name-and-slogan {
  @extend %block--lockup__site-name-and-slogan-text;
}

.block--lockup__site-slogan {
  @extend %block--lockup__site-slogan-text;
}