@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

$logo-width: 110px;

.block--lockup {
  position: relative;
  margin: 0 auto;
  width: 120px;
  z-index: 4;

  @include grid-media($header-md) {
    @include responsive-container($default-container);
    display: table;
    margin: 0 0;
    width: auto;
  }

  #header & {
    @include grid-media($header-md) {
      padding-top: 0;
      transform: translateY(8px);
    }
  }

  // Grid collapse.
  .block-grid-collapse {
    @include grid-collapse;
  }
}

.block--lockup__site-logo-wrapper {
  .block--lockup__site-logo {
    display: block;

    img {
      display: block;

      @include grid-media($header-md) {
        width: 110px;
        margin: 0 10px;
      }
    }
  }
}

.block--lockup__site-name-and-slogan {
  @extend %hide-element;
}

.block--lockup__site-slogan {
  @extend %hide-element;
}
