@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

// Stanford Earth styling for the filmstrip top-border
.filmstrip {
  .filmstrip__title {
    position: relative;
    color: color(stone);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -1em;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 2px;
      background-color: color(emphasis);

      @include grid-media($media-md) {
        left: 0;
        transform: none;
      }
    }
  }

  .filmstrip__cards {
    margin: 0 auto;
  }

  .film-card__link {
    @include grid-media($media-lg) {
      transition: all .3s ease;

      @include on-event {
        margin-top: -1em;
        margin-bottom: 1em;
      }
    }
  }

  h6 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }
}
