.no-js {
  .navbar {
    background: rgba(0, 0, 0, .75);
  }

  .navbar__group {
    display: block;
  }
}

.js-nav-expandable {
  &.is-expanded {
    height: auto;
    background: rgba(0, 0, 0, .75);

    @include grid-media($header-md) {
      background: transparent;
      padding-top: 0;
    }
  }
}

.js-nav-mobile-closable {
  &.is-active {
    .i-svg--menu {
      display: none;
    }

    .i-svg--close {
      display: inline-block;
    }
  }
}

