{% extends '@matson/page.html.twig' %}
{% block main_content %}
  {#
    You can work within the block wrapper. If you need acces to more of the
    template we can add more blocks. Just ask.
  #}

  <nav aria-label="You are here:" role="navigation" class="breadcrumbs-container">
    <ul class="breadcrumbs">
      <li><a href="#">Home</a>/</li>
      <li><a href="#">Features</a>/</li>
      <li>
        Cloning
      </li>
    </ul>
  </nav>

  <div class="content-type-person">
    <div class="content-type-person_profile">
      <div class="content-type__media">
        <figure><img src="http://via.placeholder.com/500x266"></figure>
      </div>

      <div class="content-type__header">
        <div class="page-title"><h1>First Last Name</h1></div>
        <div class="page-subtitle">
          <h2>
            Sponsor or Important Details Could Go Here
          </h2>
        </div>

        <dl class="definition-list">
          <dt>Email:</dt>
          <dd>
            <a href="#">suid@stanford.edu</a>
          </dd>
          <dt>Phone:</dt>
          <dd>
            123-456-7890
          </dd>
          <dt>Office:</dt>
          <dd>
            XYZ Building, Room 141, Stanford, California 94305 Faculty/Staff, Students
          </dd>
          <dt>Links:</dt>
          <dd>
            <a href="#">Visit the Website</a>
            <a href="#">Stanford profile</a>
          </dd>
        </dl>
      </div>
    </div>

    <div class="content-type-person_bio">
      <h3 class="dash-header">Biography</h3>
      {{ page.content }}
    </div>
  </div>

{% endblock %}
