@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

.content-type__header {
  color: color(text-active);

  .social-actions {
    @include dash-under;
    position: relative;

    &::after {
      left: 0;
      transform: none;
    }
  }
}

.content-type__media-header {
  @include grid-container;
  padding-top: 60px;

  @include grid-media($media-lg) {
    @include margin(null 100px);
  }

  &.left-align-media {
    .content-type__media {
      @include grid-media($media-lg) {
        float: left;
        width: 50%;
      }

      figure {
        @include grid-media($media-lg) {
          margin-right: 40px;
        }
      }

      img {
        display: block;
        margin: 0 auto;

        @include grid-media($media-lg) {
          margin: 0;
        }
      }
    }

    .content-type__header {
      padding-top: 40px;

      @include grid-media($media-lg) {
        float: left;
        width: 50%;
      }
    }

    .breadcrumbs-container {
      @include grid-media($media-lg) {
        float: right;
        width: 50%;
      }
    }
  }
}

.content-type__media {
  figure,
  picture {
    position: relative;

    &::after {
      @include fullpage-stripe;
      width: 150vw;
    }
  }
}

.content-type-date {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 50px;

  time {
    padding-left: 5px;
  }
}

.content-type-date__actions {
  padding-top: 5px;
}
