@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

///
/// Card class.
///
.film-card {
  margin-top: 0;
}

.film-card__title {
  text-transform: uppercase;
}

.film-card__arrow {
  svg use {
    fill: color(white);
  }
}


.film-card__subtitle {
  margin-bottom: 0;
}

.film-card__description {
  color: color(ash);
  letter-spacing: .5px;
  padding-top: 5px;
  margin-bottom: 0;
}
