@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

.photo-tiles {
  .photo-tile {
    position: relative;

    &::after {
      content: '';
      display: none;
      position: absolute;
      height: 190px;
      width: 190px;
      border: 1px solid color(smoke);
      top: 100px;
      right: 100px;
      z-index: -1;

      @include grid-media($media-lg) {
        display: block;
      }
    }
  }
}

.photo-tile__title {
  letter-spacing: .3px;
  position: relative;
  padding-bottom: .5em;

  &::after {
    background-color: color(emphasis);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    z-index: 4;
  }
}

.photo-tile__description {
  letter-spacing: .5px;
  margin-bottom: 4px;
}

.photo-tiles__quote {
  padding-top: 3em;
  position: relative;
  color: color(ash);

  > * {
    letter-spacing: .5px;
    line-height: 1.5em;
  }

  blockquote {
    margin: 0;
  }

  cite {
    display: block;
    font-style: normal;
    position: relative;
    padding-top: 1em;

    &:before {
      position: absolute;
      content: '';
      height: 1px;
      width: 70px;
      background-color: color(ash);
      top: 0;
    }
  }

  strong {
    display: block;
    font-size: em(12px);
    color: color(brand);
    text-transform: uppercase;
  }

  svg {
    position: absolute;
    display: block;
    margin-bottom: 1em;
    top: 0;
    left: 0;

    use {
      fill: color(brand);
    }
  }
}