{#
/**
 * @file
 * Link item pattern.
 */
#}
{# Set title to false so it doesnt change, since the text will be sufficient #}
{{ link|openlink({class: 'link-item', title: false}) }}
  <span class="link-item__title">{{ title }}
    {% if subtitle is not empty %}
    <span class="link-item__subtitle">{{ subtitle }}</span>
    {% endif %}
  </span>
{{ link|closelink }}