@charset 'UTF-8';

// My Config.
@import "config/config";

// Decanter config.
@import "decanter/core/utilities/decanter-utilities";

// Grab our mixins.
@import "utilities/utilities";

.section-expandable-banner {
  color: color(white);
  min-height: 300px;

  .section-header {
    @include grid-media($media-md-only) {
      text-align: left;
    }

    h2,
    h3 {
      color: color(white);
    }

    ul li {
      color: color(white);
    }

    a {
      color: color(white);
      opacity: .8;

      &:hover {
        opacity: 1;
      }
    }

    p {
      color: color(white);
      letter-spacing: .5px;
      line-height: 2em;
    }

    .drop-cap-title__name {
      color: color(white);
    }

    .drop-cap-title__drop-cap {
      opacity: .35;
    }
  }
}
