{#
/**
 * @file
 * Simple blocks pattern.
 */
#}
{% set attributes = attributes.addClass("section-masonry-blocks") %}
<div{{ attributes }}>
  {#{% set items = items|merge({'context': context}) %}#}
  {% if items is not empty %}
    {{ pattern('collapsible_menu', {'items': items, 'context': context}) }}
  {% endif %}
  {{ pattern('masonry_blocks', {'cards': cards, 'context': context}) }}
</div>
